<div id="container" #container>
  <div id="map" #map></div>
  <div id="graph" #graph></div>
  <div id="zoom" *ngIf="showZoom">
    <button id="zoom-in" mat-mini-fab (click)="zoomInPressed()">
      <mat-icon>add</mat-icon>
    </button>
    <button id="zoom-out" mat-mini-fab (click)="zoomOutPressed()">
      <mat-icon>remove</mat-icon>
    </button>
    <button id="zoom-reset" mat-mini-fab (click)="zoomResetPressed()">
      <mat-icon>zoom_out_map</mat-icon>
    </button>
    <mat-slider #slider id="zoom-slider" [value]="zoomSliderValue" [vertical]="true"
               (slide)="sliderChanged()" (change)="sliderChanged()">
    </mat-slider>
  </div>
  <div id="legend" *ngIf="showLegend">
    <mat-card>
      <mat-card-content>
        <table>
          <tr *ngFor="let item of legend">
            <td>{{item.name}}</td>
            <td>
              <div [style.background-color]="item.color"></div>
            </td>
          </tr>
        </table>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div [matMenuTriggerFor]="graphMenu" #graphMenuTrigger="matMenuTrigger"></div>
<div [matMenuTriggerFor]="stationMenu" #stationMenuTrigger="matMenuTrigger"></div>
<div [matMenuTriggerFor]="deliveryMenu" #deliveryMenuTrigger="matMenuTrigger"></div>
<div [matMenuTriggerFor]="traceMenu" #traceMenuTrigger="matMenuTrigger"></div>
<mat-menu #graphMenu>
  <button mat-menu-item *ngFor="let action of graphMenuActions"
          [disabled]="!action.enabled" (click)="action.action($event)">
    {{action.name}}
  </button>
</mat-menu>
<mat-menu #stationMenu>
  <button mat-menu-item *ngFor="let action of stationMenuActions"
          [disabled]="!action.enabled" (click)="action.action($event)">
    {{action.name}}
  </button>
</mat-menu>
<mat-menu #deliveryMenu>
  <button mat-menu-item *ngFor="let action of deliveryMenuActions"
          [disabled]="!action.enabled" (click)="action.action($event)">
    {{action.name}}
  </button>
</mat-menu>
<mat-menu #traceMenu>
  <button mat-menu-item *ngFor="let action of traceMenuActions"
          [disabled]="!action.enabled" (click)="action.action($event)">
    {{action.name}}
  </button>
</mat-menu>
