<div id="gisContainer">
  <div id="map"></div>
  <div id="cyGis"></div>
  <div id="zoom">
    <button id="zoom-in" md-mini-fab (click)="zoomInPressed()">
      <md-icon>add</md-icon>
    </button>
    <button id="zoom-out" md-mini-fab (click)="zoomOutPressed()">
      <md-icon>remove</md-icon>
    </button>
    <button id="zoom-reset" md-mini-fab (click)="zoomResetPressed()">
      <md-icon>zoom_out_map</md-icon>
    </button>
    <md-slider #slider id="zoom-slider" [value]="zoomSliderValue" [vertical]="true"
               (slide)="sliderChanged()" (change)="sliderChanged()">
    </md-slider>
  </div>
  <div id="legend" *ngIf="showLegend">
    <md-card>
      <md-card-content>
        <table>
          <tr *ngFor="let item of legend">
            <td>{{item.name}}</td>
            <td>
              <div [style.background-color]="item.color"></div>
            </td>
          </tr>
        </table>
      </md-card-content>
    </md-card>
  </div>
</div>
<div id="gisGraphMenu" class="menuTrigger" [mdMenuTriggerFor]="graphMenu" #graphMenuTrigger="mdMenuTrigger"></div>
<div id="gisStationMenu" class="menuTrigger" [mdMenuTriggerFor]="stationMenu" #stationMenuTrigger="mdMenuTrigger"></div>
<div id="gisDeliveryMenu" class="menuTrigger" [mdMenuTriggerFor]="deliveryMenu"
     #deliveryMenuTrigger="mdMenuTrigger"></div>
<div id="gisTraceMenu" class="menuTrigger" [mdMenuTriggerFor]="traceMenu" #traceMenuTrigger="mdMenuTrigger"></div>
<md-menu #graphMenu>
  <button md-menu-item *ngFor="let action of graphMenuActions"
          [disabled]="!action.enabled" (click)="action.action($event)">
    {{action.name}}
  </button>
</md-menu>
<md-menu #stationMenu>
  <button md-menu-item *ngFor="let action of stationMenuActions"
          [disabled]="!action.enabled" (click)="action.action($event)">
    {{action.name}}
  </button>
</md-menu>
<md-menu #deliveryMenu>
  <button md-menu-item *ngFor="let action of deliveryMenuActions"
          [disabled]="!action.enabled" (click)="action.action($event)">
    {{action.name}}
  </button>
</md-menu>
<md-menu #traceMenu>
  <button md-menu-item *ngFor="let action of traceMenuActions"
          [disabled]="!action.enabled" (click)="action.action($event)">
    {{action.name}}
  </button>
</md-menu>
