<div id="fcl-cs-rules-list"
    cdkDropList
    (cdkDropListDropped)="onDrop($event)"
>

    <div
        class="fcl-cs-rules-list-item"
        *ngFor="let item of rules; let i = index"
        cdkDrag [cdkDragDisabled]="isEditRuleModeActive"
        cdkDragLockAxis="y"
        cdkDragBoundary=".cdk-drop-list"
    >

        <div class="fcl-cs-rules-list-drag-indicator" cdkDragHandle><mat-icon>drag_indicator</mat-icon></div>
        <div
            class="fcl-cs-rules-list-item-name"
            cdkDragHandle
            >
            {{ item.name }}
        </div>

        <fcl-node-symbol-view
            class="fcl-cs-rules-list-item-shape"
            *ngIf="item.color || (item.shape !== undefined && item.shape !== null)"
            [shapeType]="item.shape"
            [fillColor]="item.color? { r:item.color[0], g:item.color[1], b:item.color[2] } : null"
        ></fcl-node-symbol-view>

        <div class="fcl-cs-rules-list-item-counts">
            <span class="fcl-colors-and-shapes-list-item-count">{{ 50 * i }}</span>
        </div>

        <mat-button-toggle
            class="fcl-cs-rules-list-item-legend-button"
            [matTooltip]="item.showInLegend ? 'Do not show in legend' : 'Show in legend'"
            matTooltipPosition="above"
            [checked]="item.showInLegend"
            (change)="onToggleShowInLegend(i)"
            [disabled]="isEditRuleModeActive"
        >
            L
        </mat-button-toggle>

        <div class="fcl-cs-rules-list-item-edit-button-wrapper">
            <button
                class="fcl-cs-rules-list-item-edit-button"
                mat-button
                matTooltip="Edit Highlighting Rule"
                matTooltipPosition="above"
                color="accent"
                (click)="onEditRule(i)"
                [disabled]="isEditRuleModeActive"
            >
                <mat-icon>edit</mat-icon>
            </button>
        </div>

        <div class="fcl-cs-rules-list-item-delete-button-wrapper">
            <button
                class="fcl-cs-rules-list-item-delete-button"
                mat-button
                matTooltip="Delete Highlighting Rule"
                matTooltipPosition="above"
                color="warn"
                (click)="onDeleteRule($event, i)"
                [disabled]="isEditRuleModeActive"
                >
                <mat-icon>delete forever</mat-icon>
            </button>
        </div>

        <fcl-colors-and-shapes-edit-view
            *ngIf="editIndex === i"
            class="fcl-cs-rules-list-edit-item"

            [rule]="editRule"
            [availableProperties]="availableProperties"
            [propToValuesMap]="propToValuesMap"

            (applyRule)="onApplyRule($event)"
            (cancelEdit)="onCancelEdit()"
            (okRule)="onOkRule($event)"
        >
        </fcl-colors-and-shapes-edit-view>

    </div>

</div>

<button
    *ngIf="showAddRuleButton"
    mat-stroked-button
    class="fcl-add-cs-rule-button"
    matTooltip="Add Highlighting Rule"
    matTooltipPosition="above"
    color="primary"
    (click)="onAddRule()"
    [disabled]="isEditRuleModeActive"
>
    <mat-icon>add</mat-icon>
</button>

<fcl-colors-and-shapes-edit-view
    *ngIf="showEditNewRuleDialog"

    class="fcl-new-cs-rule-dialog"
    [rule]="editRule"
    [availableProperties]="availableProperties"
    [propToValuesMap]="propToValuesMap"

    (applyRule)="onApplyRule($event)"
    (cancelEdit)="onCancelEdit()"
    (okRule)="onOkRule($event)"
>
</fcl-colors-and-shapes-edit-view>
