@import '../../../../assets/sass/base';

.fcl-cs-rules-list-item {
    font-size: 0.8rem;
    font-family: #{$fcl-font-family};
    display: grid;
    align-items: center;
    grid-template-areas:
        "dragcolumn rulename shape . counts . legend . edit . delete"
        "editdialog editdialog editdialog editdialog editdialog editdialog editdialog editdialog editdialog editdialog editdialog";
    grid-template-columns: 3ch calc(50% - 3ch) 24px calc((50% - 101px - 3ch) / 4) 3ch calc((50% - 101px - 3ch) / 4) 31px calc((50% - 101px - 3ch) / 4) 24px calc((50% - 101px - 3ch) / 4) 22px;
}

.fcl-cs-rules-list-drag-indicator {
    display: flex;
    grid-area: dragcolumn;
    justify-self: left;
    align-self: center;
    max-height: 0.85rem;

    .mat-icon {
        font-size: 0.85rem;
    }
}

.cdk-drag-handle {
    cursor: ns-resize;
}

.cdk-drag-disabled .cdk-drag-handle {
    cursor: default;
}

.cdk-drag-placeholder {
    visibility: hidden;
}

.cdk-drag-disabled .mat-icon {
    opacity: 0.2;
}

/* Animate items as they're being sorted. */
.cdk-drop-list-dragging .cdk-drag {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* Animate an item that has been dropped. */
.cdk-drag-animating {
    transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}

.fcl-cs-rules-list-item-name {
    grid-area: rulename;
    justify-self: left;
}

.fcl-cs-rules-list-item-shape {
    grid-area: shape;
    justify-self: center;
}

.fcl-cs-rules-list-item-counts {
    grid-area: counts;
    justify-self: end;
}

.fcl-cs-rules-list-item-legend-button {
    grid-area: legend;
    display: flex;
    align-items: center;
    max-height: 2rem;
    place-self: center;
    aspect-ratio: 1 / 1;
}

.fcl-cs-rules-list-item-edit-button-wrapper {
    grid-area: edit;
    display: flex;
    justify-content: center;
    align-content: center;
    max-width: 24px;
    overflow-x: hidden;
}

.fcl-cs-rules-list-item-delete-button-wrapper {
    display: flex;
    grid-area: delete;
    justify-content: center;
    align-content: center;
    justify-self: end;
    max-width: 24px;
    overflow-x: hidden;
}

.fcl-cs-rules-list-edit-item {
    grid-area: editdialog;
}

.fcl-cs-rules-list-item-legend-button.mat-button-toggle-checked {
    background-color: $fcl-primary-500;
    color: rgb(255, 255, 255);
}

.fcl-cs-rules-list-item-legend-button.mat-button-toggle-checked.mat-button-toggle-disabled {
    background-color: $fcl-primary-100;
    color: rgb(255, 255, 255);
}

.fcl-new-cs-rule-dialog {
    font-size: 0.8rem;
}

.fcl-add-cs-rule-button {
    border-radius: 5;
    background-color: rgb(255, 255, 255);
    margin-top: 1rem;
    width: 100%;
}

.fcl-add-cs-rule-button:hover:enabled {
    background-color: $fcl-accent-300;
    color: rgba(255, 255, 255, 0.9);
}
