<fcl-colors-and-shapes-list-view
    class="fcl-highlighting-station-list-view"
    [colorsAndShapesHighlightings]="colorsAndShapesHighlightings"
    [listButtonDisabled]="listButtonDisabled"
    (deleteHighlightingRule)="onDeleteHighlightingRule($event)"
    (toggleShowInLegendProperty)="onToggleShowInLegend($event)"

>
</fcl-colors-and-shapes-list-view>

<!-- <button
    *ngIf="showAddHighlightingRuleButton"
    mat-stroked-button
    class="fcl-add-highlighting-rule-button"
    matTooltip="Add Highlighting Rule"
    matTooltipPosition="above"
    color="primary"
    (click)="onAddColorsAndShapesRule()"
>
    <mat-icon>add</mat-icon>
</button> -->


<fcl-colors-and-shapes-rule-view
    *ngIf="showHighlightingRuleDialog"
    [inputData]="colorsAndShapesRuleInputData"
    (applyColorsAndShapesRule)="onApplyColorsAndShapesRule($event)"
    (cancelColorsAndShapesRule)="onCancelColorsAndShapesRule()"
    (okColorsAndShapesRule)="onOkColorsAndShapesRule($event)"
>
</fcl-colors-and-shapes-rule-view>
