ngx-datatable {
  background: rgb(255, 255, 255);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
}

/*noinspection CssUnusedSymbol*/
ngx-datatable .empty-row {
  height: 50px;
  text-align: center;
  color: rgb(32, 32, 32);
  padding: 10px;
}

ngx-datatable datatable-header {
  border-bottom: 1px solid rgb(150, 150, 150);
}

ngx-datatable datatable-body-row {
  /*margin-top: 5px !important;*/
}

ngx-datatable datatable-header-cell {
  text-align: left;
  padding: 5px 10px;
  color: rgb(64, 64, 64);
  transition: width 0.3s ease;
}

ngx-datatable datatable-body-cell {
  text-align: left;
  padding: 0 10px;
  color: rgb(32, 32, 32);
  transition: width 0.3s ease;
}

ngx-datatable datatable-scroller {
  width: 100% !important;
}

/*ngx-datatable md-checkbox {*/
/*transition: none !important;*/
/*}*/

/*ngx-datatable .mat-checkbox-background {*/
/*animation: none !important;*/
/*}*/

/*ngx-datatable .mat-checkbox-checkmark {*/
/*animation: none !important;*/
/*}*/

/*ngx-datatable .mat-checkbox-checkmark-path {*/
/*animation: none !important;*/
/*}*/

/*ngx-datatable .mat-checkbox-mixedmark {*/
/*animation: none !important;*/
/*}*/
