ngx-datatable {
  background: rgb(255, 255, 255);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
}

/*noinspection CssUnusedSymbol*/
ngx-datatable .empty-row {
  height: 50px;
  text-align: center;
  color: rgb(32, 32, 32);
  padding: 10px;
}

ngx-datatable datatable-header {
  border-bottom: 1px solid rgb(150, 150, 150);
}

ngx-datatable datatable-header-cell {
  text-align: left;
  padding-top: 10px;
  padding-left: 10px;
  color: rgb(64, 64, 64);
  transition: width 0.3s ease;
  line-height: 1 !important;
}

ngx-datatable datatable-body-cell {
  text-align: left;
  padding-left: 10px;
  color: rgb(32, 32, 32);
  transition: width 0.3s ease;
  line-height: 1 !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
}

ngx-datatable datatable-scroller {
  width: 100% !important;
}

ngx-datatable * {
  user-select: none !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-drag: none !important;
  -webkit-user-drag: none !important;
  -moz-user-drag: none !important;
  -ms-user-drag: none !important;
}
