<div id="container" #container>
  <div id="optionsBar">
    <button mat-raised-button (click)="onSelectAll()">Select All</button>
    <mat-form-field>
      <input matInput [(ngModel)]="filter" (ngModelChange)="onFilterChange()" placeholder="Filter">
    </mat-form-field>
  </div>
  <ngx-datatable #table [columns]="columns" [rows]="rows" [rowClass]="getRowClass" scrollbarV="true">
  </ngx-datatable>
  <ng-template #selectTmpl let-row="row" let-value="value" let-i="index">
    <mat-checkbox [(ngModel)]="row.selected" (ngModelChange)="onSelect(row)" color="primary">
    </mat-checkbox>
  </ng-template>
</div>

