<div class="container" layout="row" flex>
    <md-sidenav class="md-whiteframe-4dp" md-is-locked-open="true">
        <md-nav-bar md-selected-nav-item="$ctrl.settings.mode" nav-bar-aria-label="Data Type">
            <md-nav-item ng-repeat="mode in $ctrl.modes" md-nav-click="$ctrl.switchModeTo(mode)" name="{{mode}}">{{mode}}</md-nav-item>
        </md-nav-bar>
        <md-content layout-padding-sm>
            <div>
                <checkbox label="Show Trace only" selected="$ctrl.settings.showTraceOnly" on-change="$ctrl.onChange('showTraceOnly', selected)"></checkbox>
            </div>
        </md-content>
    </md-sidenav>
    <md-content flex>
        <md-table-container>
            <table md-table>
                <thead md-head md-order="$ctrl.settings.order">
                    <tr md-row>
                        <th md-column ng-repeat="column in $ctrl.columns" ng-style="$ctrl.getCellStyle()" md-order-by="data.{{column}}"><span>{{column | uppercase}}</span></th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row ng-repeat="element in $ctrl.elements | orderBy: $ctrl.settings.order" ng-style="$ctrl.getRowStyle(element)">
                        <td md-cell ng-repeat="column in $ctrl.columns" ng-style="$ctrl.getCellStyle(element,column)">{{element.data[column]}}</td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
    </md-content>
</div>
