<h1 class="title" matDialogTitle>
  <button id="leftButton" mat-icon-button (click)="moveLeft()">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
  <span>{{title}}</span>
  <span class="titleSpan"></span>
  <button id="rightButton" mat-icon-button (click)="moveRight()">
    <mat-icon>keyboard_arrow_right</mat-icon>
  </button>
</h1>
<div mat-dialog-content>
  <mat-card id="properties">
    <!--suppress HtmlUnknownTag -->
    <mat-card-title>Properties</mat-card-title>
    <mat-card-content>
      <table>
        <tr *ngFor="let prop of properties">
          <td>{{prop.name}}</td>
          <td>{{prop.value}}</td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>
<div mat-dialog-actions>
  <button mat-button matDialogClose>OK</button>
</div>

