#in-out-connector g.node rect {
  fill: #F6FBFF;
  stroke: #333;
  stroke-width: 2px;
}

#in-out-connector g.node.hover rect {
  fill: #BEFFFF;
}

/*noinspection CssUnusedSymbol,CssUnknownTarget*/
#in-out-connector path.edge {
  fill: none;
  stroke: #333;
  stroke-width: 6px;
  cursor: default;
  marker-end: url(#end-arrow);
}

/*noinspection CssUnusedSymbol,CssUnknownTarget*/
#in-out-connector path.edge:hover {
  stroke: rgb(94, 196, 204);
  marker-end: url(#end-arrow-hover);
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/
#in-out-connector path.edge.hidden {
  stroke-width: 0;
}

/*noinspection CssUnusedSymbol*/
#in-out-connector #end-arrow {
  fill: #333;
}

/*noinspection CssUnusedSymbol*/
#in-out-connector #end-arrow-hover {
  fill: rgb(94, 196, 204);
}
