#in-out-connector {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

#in-out-connector g.node rect {
  fill: rgb(255, 255, 255);
  stroke: rgb(0, 0, 0);
  stroke-width: 2px;
}

#in-out-connector g.node.hover rect {
  fill: rgb(128, 128, 255);
  stroke: rgb(0, 0, 255);
}

/*noinspection CssUnusedSymbol,CssUnknownTarget*/
#in-out-connector path.edge {
  fill: none;
  stroke: rgb(0, 0, 0);
  stroke-width: 6px;
  cursor: default;
  marker-end: url(#end-arrow);
}

/*noinspection CssUnusedSymbol,CssUnknownTarget*/
#in-out-connector path.edge:hover {
  stroke: rgb(0, 0, 255);
  marker-end: url(#end-arrow-hover);
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/
#in-out-connector path.edge.hidden {
  stroke-width: 0;
}

/*noinspection CssUnusedSymbol*/
#in-out-connector #end-arrow {
  fill: rgb(0, 0, 0);
}

/*noinspection CssUnusedSymbol*/
#in-out-connector #end-arrow-hover {
  fill: rgb(0, 0, 255);
}
