h1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#leftButton {
  margin-right: 20px;
}

#rightButton {
  margin-left: 20px;
}

.toolbarSpan {
  flex: 1 1 auto;
}

#in-out-connector {
  margin-top: 20px;
}

td {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

td:first-child {
  padding-right: 20px;
}
