@import '../../../../assets/sass/base';

#fcl-tab-group-main .mat-tab-label.mat-tab-label-active,
#fcl-tab-group-filter .mat-tab-label.mat-tab-label-active,
#fcl-tab-group-highlighting .mat-tab-label.mat-tab-label-active {
    font-size: 1.2em;
    font-stretch: 100%;
}

#fcl-tab-group-main .mat-tab-label.mat-tab-label-active {
    color: rgba(255, 255, 255, 0.8);
    background-color: $fcl-accent-500;
}

#fcl-tab-group-filter .mat-tab-label.mat-tab-label-active,
#fcl-tab-group-highlighting .mat-tab-label.mat-tab-label-active {
    color: rgba(0, 0, 0, 0.8);
    background-color: $fcl-accent-100;
}
