:host {
    flex: 1;
    display: flex;
}

.fcl-maindash-item {
    flex: 1;
}

.fcl-maindash-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
