
@import '../../../../assets/sass/base';

.fcl-clear-all-filter-button {
    border-radius: 0;
    background-color: rgb(255, 255, 255);
    box-shadow: $fcl-box-shadow;
}

.fcl-clear-all-filter-button:hover {
    background-color: $fcl-accent-300;
    color: rgba(255, 255, 255, 0.9);
}
