# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/public
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/

# IDE - VSCode
.vscode/*
/remote-profile

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/cypress/videos
/cypress/screenshots
/cypress/reports

#System Files
.DS_Store
Thumbs.db

#user
/src/assets/data/tmp
/src/assets/data/Row0.json
/src/assets/data/Listeria_20190409_added_wgs_modified.json
/src/assets/data/Listeria_20190409_added_wgs.json
