[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Web app for analyzing food delivery networks
[access "refs/*"]
	owner = group user/Dominic Tölle (dptolle)
	owner = group user/draaw
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Dominic Tölle (dptolle)
	label-Verified = -1..+1 group user/Dominic Tölle (dptolle)
	push = group devs43
	push = group user/Dominic Tölle (dptolle)
	push = group user/birgitlewicki
	read = group user/Dominic Tölle (dptolle)
	rebase = group user/Dominic Tölle (dptolle)
	removeReviewer = group user/Dominic Tölle (dptolle)
	submit = group user/Dominic Tölle (dptolle)
[access "refs/heads/*"]
	create = group user/Dominic Tölle (dptolle)
	push = +force group user/Dominic Tölle (dptolle)
	pushMerge = group user/Dominic Tölle (dptolle)
	read = group devs43
	read = group user/Dominic Tölle (dptolle)
	submit = group devs43
	label-Code-Review = -2..+2 group devs43
	label-Verified = -1..+1 group devs43
[access "refs/tags/*"]
	push = group user/Dominic Tölle (dptolle)
	push = +force group user/Dominic Tölle (dptolle)
