[access]
	inheritFrom = All-Projects
[project]
	description = Web app for analyzing food delivery networks
[access "refs/*"]
	owner = group user/draaw
[access "refs/for/refs/*"]
	read = group user/draaw
	push = group user/draaw
	label-Code-Review = -2..+2 group user/draaw
	label-Verified = -1..+1 group user/draaw
	rebase = group user/draaw
	removeReviewer = group user/draaw
	submit = group user/draaw
[access "refs/heads/*"]
	read = group user/draaw
	create = group user/draaw
	push = +force group user/draaw
	pushMerge = group user/draaw
[access "refs/tags/*"]
	push = group user/draaw
	push = +force group user/draaw
