#fcl-highlighting-station-list-view-list .fcl-highlighting-station-list-view-list-item {
    font-size: 0.8rem;
}

#fcl-highlighting-station-list-view-list .fcl-highlighting-station-list-view-list-item .mat-list-item-content {
    display: grid;
    grid-template-columns: 50% 10% 10% 10% 10% 10%;
    grid-template-rows: auto;
}

.fcl-highlighting-station-list-item-fix {
    justify-self: center;
}

.fcl-highlighting-station-list-item-end {
    justify-self: end;
}
.fcl-highlighting-station-list-item-end .fcl-highlighting-station-list-item-count {
    padding-right: 1rem;
}

.fcl-highlighting-station-list-view-legend-button,
.fcl-highlighting-station-list-view-legend-button .mat-button-toggle-button .mat-button-toggle-label-content {
    height: 2rem;
    width: 2rem;
}

.fcl-highlighting-station-list-view-legend-button .mat-button-toggle-button .mat-button-toggle-label-content {
    line-height: 2rem;
    padding: 0;
}
