<div class="fcl-highlighting-station-container">

    <fcl-anonymous-button-view
        class="fcl-anonymous-button-view">

    </fcl-anonymous-button-view>

    <mat-expansion-panel
        class="fcl-highlighting-label-config fcl-highlighting-expansion-panels fcl-border-radius-zero"
        (opened)="labelsOpenState = true"
        (closed)="labelsOpenState = false">

        <mat-expansion-panel-header>
            <mat-panel-title class="fcl-font-size-08">
              Labels... click  to {{ labelsOpenState ?  'close' : 'open' }}
            </mat-panel-title>
        </mat-expansion-panel-header>

        <fcl-label-rules-list-view
            class="fcl-rules-list-view-container"

            labelContext="station(s)"
            [rules]="labelRules"
            [editRule]="labelEditRule"
            [availableProperties]="availableProperties"
            [propToValuesMap]="propToValuesMap"
            [highlightingStats]="highlightingStats"

            (addSelectionToRuleConditions)="onAddSelectionToRuleConditions($event)"
            (removeSelectionFromRuleConditions)="onRemoveSelectionFromRuleConditions($event)"
            (ruleDelete)="onRuleDelete($event)"

            (rulesChange)="onLabelRulesChange($event)"
            (startEdit)="onStartRuleEdit($event)"
            (cancelEdit)="onCancelRuleEdit(labelEditRule.id)"
        >
        </fcl-label-rules-list-view>

    </mat-expansion-panel>

    <mat-expansion-panel
        class="fcl-highlighting-stationsize-config fcl-highlighting-expansion-panels fcl-border-radius-zero"
        (opened)="stationSizeOpenState = true"
        (closed)="stationSizeOpenState = false">

        <mat-expansion-panel-header>
            <mat-panel-title class="fcl-font-size-08">
              Station Size... click  to {{ stationSizeOpenState ?  'close' : 'open' }}
            </mat-panel-title>
        </mat-expansion-panel-header>

        Station Size Configurations ... coming soon

    </mat-expansion-panel>

    <mat-expansion-panel
        class="fcl-highlighting-colorsandshapes-config fcl-highlighting-expansion-panels fcl-border-radius-zero"
        [expanded]="colorsAndShapesOpenState"
        (opened)="colorsAndShapesOpenState = true"
        (closed)="colorsAndShapesOpenState = false">

        <mat-expansion-panel-header>
            <mat-panel-title class="fcl-font-size-08">
              Colours and Shapes... click  to {{ colorsAndShapesOpenState ?  'close' : 'open' }}
            </mat-panel-title>
        </mat-expansion-panel-header>

        <fcl-colors-and-shapes-list-view
            class="fcl-rules-list-view-container"

            [rules]="colorOrShapeRules"
            [editRule]="colorOrShapeEditRule"
            [availableProperties]="availableProperties"
            [propToValuesMap]="propToValuesMap"
            [highlightingStats]="highlightingStats"

            (addSelectionToRuleConditions)="onAddSelectionToRuleConditions($event)"
            (removeSelectionFromRuleConditions)="onRemoveSelectionFromRuleConditions($event)"
            (ruleDelete)="onRuleDelete($event)"

            (rulesChange)="onColorOrShapeRulesChange($event)"
            (startEdit)="onStartRuleEdit($event)"
            (cancelEdit)="onCancelRuleEdit(colorOrShapeEditRule.id)"
        >
        </fcl-colors-and-shapes-list-view>

    </mat-expansion-panel>

</div>
