em {
    float: right;
    color: #E05C65;
    padding-left: 10px;
}

.error input {
    background-color: #E3C3C5
}

.error select {
    background-color: #E3C3C5
}

.error ::-webkit-input-placeholder {
    color: #999
}

.error ::-moz-placeholder {
    color: #999
}

.error :-moz-placeholder {
    color: #999
}

.error :-ms-input-placeholder {
    color: #999
}

.pw-1 {
  margin-top: 3em;
}

.pw-strength {
  margin-top: 2rem;
}

.reset-btn {
  margin-top: 3rem;
}

