<fcl-complex-filter-view
    [stationColumns]="stationColumns"
    [propToValues]="propToValues"
    [ExtendedOperationType]="ExtendedOperationType"
    [extendedOperationTypeKeys]="extendedOperationTypeKeys"
    [extendedOperationTypeValues]="extendedOperationTypeValues"
    [JunktorType]="JunktorType"
    [junktorTypeKeys]="junktorTypeKeys"
    [junktorTypeValues]="junktorTypeValues"
    [resetComplexFilter$]="resetComplexFilter$"
    (complexFilterConditions)="handleComplexFilterConditions($event)">
</fcl-complex-filter-view>
