<div class="fcl-edit-rule">
    <div class="fcl-edit-rule-name-and-labelproperty-fields">
        <fcl-rule-name-view
            class="fcl-edit-rule-name-field"
            [ruleName]="ruleName"
            (ruleNameChange)="onRuleNameChange($event)"
        >
        </fcl-rule-name-view>
        <fcl-property-selector-view
            class="fcl-complex-filter-form-field fcl-label-property-selector"
            label="Select property for label"
            [value]="labelProperty"
            (valueChange)="onLabelPropertyChange($event)"
            [favouriteProperties]="favouriteProperties"
            [otherProperties]="otherProperties"
        ></fcl-property-selector-view>
    </div>

    <div class="fcl-edit-rule-useconditions-and-ruleservice-fields">
        <mat-checkbox
            class="fcl-edit-rule-useconditions-checkbox fcl-checkbox-wo-ripple"
            [checked]="useConditions"
            (change)="onUseConditionsChange($event.checked)"
        >
            Use conditions
        </mat-checkbox>

        <fcl-rule-service-view
            (addSelection)="onAddSelection()"
            (removeSelection)="onRemoveSelection()"
            [disabled]="!useConditions"
        ></fcl-rule-service-view>
    </div>

    <fcl-complex-filter-view
        class="fcl-edit-rule-complex-filter"
        [conditions]="complexFilterConditions"
        [favouriteProperties]="favouriteProperties"
        [otherProperties]="otherProperties"
        [availableOperatorTypes]="availableOperatorTypes"
        [propToValuesMap]="propToValuesMap"
        (conditionsChange)="onComplexFilterChange($event)"
        [disabled]="!useConditions"
    ></fcl-complex-filter-view>

    <div class="fcl-edit-rule-action-button-container">
        <div
            class="fcl-edit-rule-action-button-wrapper"
            [matTooltip]="applyTooltip"
        >
            <button
                mat-stroked-button
                class="fcl-edit-rule-action-button"
                matTooltipPosition="above"
                color="primary"
                (click)="onApplyRule()"
                [disabled]="actionButtonDisabled"
            >
                <mat-icon>done</mat-icon>
                Apply
            </button>
        </div>

        <div
            class="fcl-edit-rule-action-button-wrapper"
            matTooltip="Close dialogue"
        >
            <button
                mat-stroked-button
                class="fcl-edit-rule-action-button"
                matTooltipPosition="above"
                color="primary"
                (click)="onCancelRule()"
            >
                <mat-icon>clear</mat-icon>
                Cancel
            </button>
        </div>

        <div
            class="fcl-edit-rule-action-button-wrapper"
            [matTooltip]="okTooltip"
        >
            <button
                mat-stroked-button
                class="fcl-edit-rule-action-button"
                matTooltipPosition="above"
                color="primary"
                (click)="onOkRule()"
                [disabled]="actionButtonDisabled"
            >
                <mat-icon>done</mat-icon>
                OK
            </button>
        </div>
    </div>
</div>
