<div class="fcl-box">
    <mat-select
        class="fcl-property-selector fcl-compact-mat-select"
        [value]="activeProp?.prop ?? ''"
        (selectionChange)="onSelectionChange($event)"
        placeholder="Select property"
        disableOptionCentering
        panelClass="fcl-mat-select-below-panel-class"
        matTooltip="Select property"
    >
        <mat-select-trigger *ngIf="activeProp?.warnings">
            {{ activeProp?.label }}
            <span
                ><mat-icon
                    class="fcl-warning-icon"
                    [matTooltip]="activeProp?.warnings"
                    >warning</mat-icon
                ></span
            >
        </mat-select-trigger>
        <mat-option *ngIf="enableNullProp" value="">None</mat-option>
        <span *ngFor="let prop of availableProps">
            <mat-option value="{{ prop.prop }}">
                {{ prop.label || prop.prop }}
                <mat-icon
                    *ngIf="prop.warnings"
                    class="fcl-warning-icon"
                    [matTooltip]="prop.warnings"
                    >warning</mat-icon
                >
            </mat-option>
        </span>
    </mat-select>
    &nbsp;/&nbsp;
    <fcl-text-element-view
        class="fcl-alt-text-box"
        [value]="altText"
        (valueChange)="onAltTextChange($event)"
        matTooltip="Enter alternative text"
    ></fcl-text-element-view>
</div>
