<ng-template let-options="options" #optionsTemplate>
    <mat-checkbox *ngFor="let option of options" [(ngModel)]="option.selected" [disabled]="option.disabled === true" [matTooltip]="option.tooltip">{{option.viewValue}}</mat-checkbox>
</ng-template>

<h1 matDialogTitle>{{data.title}}</h1>
<div mat-dialog-content>
  <div class="checkboxes">
    <ng-container [ngTemplateOutlet]="optionsTemplate"
        [ngTemplateOutletContext] ="{ options: favouriteOptions }">
    </ng-container>
    <hr class="fcl-dialog-select-horizontal-line">
    <ng-container [ngTemplateOutlet]="optionsTemplate"
        [ngTemplateOutletContext] ="{ options: otherOptions }">
    </ng-container>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="close()">OK</button>
  <button mat-button (click)="dialogRef.close()">Cancel</button>
</div>
