<div
  class="fcl-tracing-container">

<mat-sidenav-container id="mainContainer" #mainContainer>
    <mat-sidenav
    class="fcl-left-sidenav"
      id="leftSidenav"
      #leftSidenav
      position="start"
      mode="side"
      [opened]="leftOpened">

      <mat-toolbar color="primary">
        <span>Graph Settings</span>
      </mat-toolbar>

      <div class="sidenav-elements">
        <mat-radio-group
          [(ngModel)]="data.graphSettings.type"
          (ngModelChange)="onGraphChange('type')">
          <mat-radio-button *ngFor="let type of graphTypes" [value]="type">
            {{type}}
          </mat-radio-button>
        </mat-radio-group>
        <mat-form-field>
            <mat-select
              placeholder="Node Size"
              [(ngModel)]="data.graphSettings.nodeSize"
              (ngModelChange)="onGraphChange('nodeSize')">
              <mat-option *ngFor="let size of sizes" [value]="size">
                {{size}}
              </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-select
              placeholder="Font Size"
              [(ngModel)]="data.graphSettings.fontSize"
              (ngModelChange)="onGraphChange('fontSize')">
              <mat-option *ngFor="let size of sizes" [value]="size">
                {{size}}
              </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-checkbox
          [(ngModel)]="data.graphSettings.mergeDeliveries"
          (ngModelChange)="onGraphChange('mergeDeliveries')">
          Merge Deliveries
        </mat-checkbox>
        <!--<mat-checkbox
          [(ngModel)]="data.graphSettings.hideUnconnectedStations"
          (ngModelChange)="onGraphChange('hideUnconnectedStations')">
          Hide Unconnected Stations
        </mat-checkbox>-->
        <mat-checkbox
          [(ngModel)]="data.graphSettings.showLegend"
          (ngModelChange)="onGraphChange('showLegend')">
          Show Legend
        </mat-checkbox>
        <mat-checkbox
          [(ngModel)]="data.graphSettings.showZoom"
          (ngModelChange)="onGraphChange('showZoom')">
          Show Zoom Controls
        </mat-checkbox>
      </div>

      <mat-toolbar color="primary">
        <span>Table Settings</span>
      </mat-toolbar>

      <div class="sidenav-elements">
        <mat-radio-group
          [(ngModel)]="data.tableSettings.mode"
          (ngModelChange)="onTableChange('mode')">
          <mat-radio-button *ngFor="let mode of tableModes" [value]="mode">
            {{mode}}
          </mat-radio-button>
        </mat-radio-group>
        <button
          mat-raised-button
          (click)="changeColumns()">
          Change Columns
        </button>
        <mat-form-field>
          <mat-select
            placeholder="Show Type"
            [(ngModel)]="data.tableSettings.showType"
            (ngModelChange)="onTableChange('showType')">
            <mat-option *ngFor="let showType of showTypes" [value]="showType">
              {{showType}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-sidenav>

    <mat-sidenav-content class="mat-sidenav-content-container">
        <div id="mainContent">
            <fcl-graph #graph [hidden]="data.graphSettings.type != graphType"></fcl-graph>
            <fcl-gis #gis [hidden]="data.graphSettings.type != gisType"></fcl-gis>
        </div>
    </mat-sidenav-content>

    <mat-sidenav
        id="rightSidenav"
        #rightSidenav
        position="end"
        mode="side"
        [opened]="rightOpened">
      <div id="rightSidenavContent">
        <div id="sidenavSlider" #sidenavSlider>
          <div id="sidenavSliderCenter"></div>
        </div>
        <fcl-table #table></fcl-table>
      </div>
    </mat-sidenav>
  </mat-sidenav-container>
</div>
