.mat-tooltip {
  font-size: 20px !important;
}
.mytooltip {
  font-size: 20px;
}
/*.mat-select-content{
  width:2000px;
  font-size: 16px;   
}
.mat-select {
  display: block;
  margin: 10px 0 8px 0;
  padding-bottom: 2px;
  position: relative;
  max-width: 180px;
  font-size: 16px; 
}
.md-dialog-content {
  width: 180px;
}
.md-dialog {
  width: 200px;
}
.md-dialog-title {
  font-size: 14px;
}
.mat-option {
  width:2000px; 
  font-size: 16px;
}

.checkboxes {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
}

md-checkbox {
  margin: 5px 0;
}*/
