<h1 matDialogTitle>{{data.title}}</h1>
<div mat-dialog-content>
    <span>{{data.message}}</span>
    <mat-select [(ngModel)]="data.value" placeholder=""> <!--class="md-no-underline">-->
        <mat-option *ngFor="let option of options" value="{{option.value}}" matTooltip="{{option.toolTip}}" matTooltipPosition="right" matTooltipShowDelay="500" matTooltipClass="mytooltip">{{option.viewValue}}</mat-option>
    </mat-select>
      
</div>
<div mat-dialog-actions>
  <button md-button (click)="close()">OK</button>
  <button md-button (click)="dialogRef.close()">Cancel</button>
</div>
