<div class="fcl-adminactivate-item fcl-adminactivate-container">
    <mat-card class="fcl-mat-card fcl-mat-card-container">
        <mat-card-header class="fcl-mat-card-header">
            <div class="mat-headline">Admin account activation</div>
            <mat-divider></mat-divider>
        </mat-card-header>

        <mat-card-content>
            <div class="fcl-mat-card-content" *ngIf="adminTokenValid">
                <div class="fcl-adminactivate-text">
                    <p class="mat-subheading-1">You have activated the {{ appName }} account for {{ name }}.</p>
                </div>
            </div>

            <div class="fcl-mat-card-content" *ngIf="!adminTokenValid">
                <div class="fcl-adminactivate-text">
                    <p class="mat-subheading-1">
                        Your admin activation failed.
                    </p>
                    <p class="mat-subheading-1">
                        Please let the user register again.
                    </p>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>
