<div
    class="fcl-action-item fcl-action-container"
    *ngIf="(isServerLess() || currentUser) && tracingActive"
>
    <div
        *ngIf="fileName !== null"
        class="fcl-file-name-wrapper fcl-separator mat-body"
    >
        <div class="fcl-file-name" [matTooltip]="fileName">
            File: {{ fileNameWoExt }}
        </div>
    </div>
    <div class="fcl-graph-type fcl-separator mat-body">
        <mat-radio-group
            [(ngModel)]="graphSettings.type"
            (ngModelChange)="setGraphType()"
        >
            <mat-radio-button
                class="fcl-graph-type-button"
                [value]="'Graph'"
                matTooltip="Show Schematic Graph"
            >
                Graph
            </mat-radio-button>
            <input
                type="file"
                class="fcl-fileinput"
                accept=".geojson"
                id="shapeFileInput"
                (change)="onShapeFileInput($event)"
                #shapeFileInput
                data-cy="fcl-upload-shape-fileinput"
            />
            <span class="fcl-graph-type-button">
                <mat-radio-button
                    [value]="'GIS'"
                    [disabled]="!hasGisInfo"
                    [matTooltip]="!hasGisInfo ? '' : 'Show GIS Graph'"
                >
                    GIS
                </mat-radio-button>
                <mat-select
                    class="fcl-map-type-select"
                    [(value)]="selectedMapTypeOption"
                    disableOptionCentering
                    panelClass="fcl-mat-select-below-panel-class"
                    [disabled]="!hasGisInfo"
                    matTooltip="{{ hasGisInfo ? 'Select Map Type' : '' }}"
                >
                    <span *ngFor="let item of availableMapTypes">
                        <mat-option
                            value="{{ item }}"
                            (click)="setMapType(mapTypes[item])"
                        >
                            {{ mapTypes[item].label }}
                        </mat-option>
                    </span>
                    <mat-option value="" (click)="onSelectShapeFile($event)">
                        Load Shape File...
                    </mat-option>
                </mat-select>
            </span>
        </mat-radio-group>
    </div>

    <button
        class="fcl-no-shrink"
        mat-button
        matTooltip="Load Example Data"
        data-cy="fcl-load-example-button"
        [matMenuTriggerFor]="exampleMenuComponent.exampleDataMenu"
    >
        <mat-icon>wb_sunny</mat-icon>
        Load Example Data
        <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <fcl-example-menu
        #exampleMenuComponent
        [exampleData]="exampleData"
        (loadExampleDataFile)="onLoadExampleDataFile($event)"
    >
    </fcl-example-menu>

    <input
        type="file"
        accept=".json"
        class="fcl-fileinput"
        id="modelFileInput"
        (change)="onModelFileInput($event)"
        #modelFileInput
        data-cy="fcl-upload-model-fileinput"
    />
    <button
        class="fcl-no-shrink"
        mat-button
        data-cy="fcl-upload-model-button"
        (click)="onSelectModelFile()"
        matTooltip="Upload data"
    >
        <mat-icon>file_upload</mat-icon>
        Upload Data
    </button>
    <button
        class="fcl-separator fcl-no-shrink"
        mat-button
        (click)="onDownloadDataFile()"
        data-cy="fcl-download-model-button"
        matTooltip="Download data"
    >
        <mat-icon>file_download</mat-icon>
        Download Data
    </button>
    <button
        class="fcl-separator fcl-no-shrink"
        mat-button
        (click)="onSaveImage()"
        matTooltip="Save image"
    >
        <mat-icon>image</mat-icon>
        Save Image
    </button>
    <button
        class="fcl-separator fcl-no-shrink"
        mat-button
        (click)="onOpenRoaLayout()"
        matTooltip="Generate ROA Layout"
    >
        <mat-icon>grid_on</mat-icon>
        ROA Style
        <span class="fcl-draft-marker-wrapper">
            <span class="fcl-draft-marker">draft</span>
        </span>
    </button>
</div>
