@use "../../../../assets/sass/base" as fcl;

@mixin common-marker-styles {
    background-color: rgb(192 0 0);
    color: white;
    padding-left: 0.5ch;
    padding-right: 0.5ch;
    bottom: 0.9em;
}

$marker-offset-right: -1.5ch;

.fcl-action-item {
    flex: 1;
}

.fcl-action-container {
    display: flex;
    justify-content: flex-end;
    padding-right: fcl.$fcl-toolbar-padding * 4;
    min-width: 0;
}

.fcl-no-shrink {
    flex-shrink: 0;
}

.fcl-separator {
    border-right: 1px solid rgb(255 255 255 / 0.4);
    border-radius: 0;
}

.fcl-fileinput {
    display: none;
}

.fcl-file-name-wrapper {
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 0;
    padding-left: 1rem;
    padding-right: 1rem;
}

.fcl-file-name-inner-wrapper {
    position: relative;
}

.fcl-file-name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.fcl-file-name-warning {
    position: absolute;
    right: $marker-offset-right;
    display: flex;
    align-items: center;
    appearance: none;
    border: 0;
    padding: 0;
    margin: 0;
    @include common-marker-styles();
}

.fcl-graph-type {
    padding-left: 1rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fcl-graph-type-button {
    padding-right: 1rem;
}

.fcl-map-type-button {
    width: 1.4rem;
}

.fcl-map-type-select {
    width: 1rem;
}

.mat-select-arrow {
    opacity: 0.3;
}

:host
    ::ng-deep
    .mat-radio-button.mat-accent.mat-radio-checked
    .mat-radio-outer-circle {
    border-color: white;
}

:host ::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle,
.mat-radio-ripple {
    background-color: white;
}

.fcl-draft-marker {
    @include common-marker-styles();
    display: block;
    position: relative;
    left: 0;
    line-height: 1.2em;
}

.fcl-draft-marker-wrapper {
    display: inline-block;
    margin-left: -2.5ch;
    margin-right: $marker-offset-right;
}
