.title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.titleSpan {
    flex: 1 1 auto;
}

#properties {
    margin-top: 10px;
    margin-bottom: 10px;
}

td:first-child {
    padding-right: 40px;
}
