<div mat-dialog-content>
    <mat-card>
        <!--suppress HtmlUnknownTag -->
        <mat-card-title>
            <span>{{data.delivery.name}}</span>
        </mat-card-title>
        <mat-card-content>
            <table>
                <tr *ngFor="let prop of vipProperties">
                    <td>{{properties[prop].label}}</td>
                    <td>{{properties[prop].value}}</td>
                </tr>
                <tr *ngFor="let prop of (!otherPropertiesHidden ? otherProperties : [])">
                    <td>{{properties[prop].label}}</td>
                    <td>{{properties[prop].value}}</td>
                </tr>
            </table>
            <button mat-button *ngIf="otherProperties.length > 0" (click)="toggleOtherProperties()">
                <span *ngIf="otherPropertiesHidden">More properties</span>
                <span *ngIf="!otherPropertiesHidden">Less properties</span>
            </button>
        </mat-card-content>
    </mat-card>
</div>
<div mat-dialog-actions>
    <button mat-button cdkFocusInitial matDialogClose>OK</button>
</div>
