<div class="fcl-dashboard-container">
    <button class="fcl-dashboard-action" data-cy="fcl-dashboard-tracing-view-button" mat-flat-button (click)="tracingView()">
        <mat-card class="fcl-mat-card">
            <mat-card-content>
                <div class="fcl-card-content mat-display-1">
                    Tracing View
                </div>
                <img class="fcl-logo" mat-card-image src="../../assets/FoodChain-Lab-Logo300_tH.png" alt="FCL logo" />
            </mat-card-content>
        </mat-card>
    </button>
</div>

<fcl-funding-sources-view class="fcl-funding-box"></fcl-funding-sources-view>
