@use '../../../../assets/sass/base' as fcl;

:host {
    width: 100vw;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "features"
        "."
        "fundingbox";
    grid-template-columns: 1fr;
    height: 100%;
}

.fcl-dashboard-container {
    grid-area: features;
    margin-top: 5rem;
    flex: 1;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    margin-left: 1ch;
    margin-right: 1ch;
}

.mat-flat-button {
    background-color: transparent;
}

.fcl-card-content {
    margin-top: 2rem;
    color: fcl.$fcl-primary-color;
}

.fcl-mat-card:hover {
    box-shadow: -1px 5px 15px 0 rgba(0, 0, 0, 0.8);
}

.fcl-logo {
    max-width: 70%;
    height: 70%;
}

.fcl-funding-box {
    grid-area: fundingbox;
    width: 100%;
}
