@use '../../../../assets/sass/base' as fcl;

:host {
    width: 100vw;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "features"
        "."
        "fundingbox";
    grid-template-columns: 1fr;
    height: 100%;
}

.fcl-dashboard-container {
    grid-area: features;
    margin: 5rem 1ch 1rem;
    flex: 1;
    display: flex;
    justify-content: center;
}

.mat-flat-button {
    background-color: transparent;
}

.mat-card-content > :first-child {
    margin-top: 2rem;
}

.fcl-card-title {
    color: fcl.$fcl-primary-color;
}

.fcl-card-image-wrapper {
    display: flex;
    justify-content: center;
}

.mat-card-image:first-child {
    margin-top: 0;
}

.fcl-mat-card:hover {
    box-shadow: -1px 5px 15px 0 rgb(0 0 0 / 0.8);
}

.fcl-logo {
    max-width: 70%;
    height: 70%;
}

.fcl-funding-box {
    grid-area: fundingbox;
    width: 100%;
}
