<div mat-dialog-content cdkDrag cdkDragRootElement=".cdk-overlay-pane">
    <div class="example-handle">
        <svg cdkDragHandle width="24px" fill="currentColor" viewBox="0 0 24 24">
            <path
                d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"
            ></path>
            <path d="M0 0h24v24H0z" fill="none"></path>
        </svg>
    </div>
    <mat-card>
        <mat-card-title>
            <span>{{ data.station.name }}</span>
        </mat-card-title>
        <mat-card-content>
            <table>
                <tr *ngFor="let prop of vipProperties">
                    <td>{{ properties[prop].label }}</td>
                    <td>{{ properties[prop].value }}</td>
                </tr>
                <tr *ngIf="!otherPropertiesHidden">
                    <td
                        colspan="2"
                        class="fcl-station-properties-horizontal-line-cell"
                    >
                        <hr class="fcl-station-properties-horizontal-line" />
                    </td>
                </tr>
                <tr
                    *ngFor="
                        let prop of !otherPropertiesHidden
                            ? getOtherPropertiesOri()
                            : []
                    "
                >
                    <td>{{ properties[prop].label }}</td>
                    <td>{{ properties[prop].value }}</td>
                </tr>
            </table>
            <button
                mat-button
                *ngIf="otherProperties.length > 0"
                (click)="toggleOtherProperties()"
            >
                <span *ngIf="otherPropertiesHidden">More properties</span>
                <span *ngIf="!otherPropertiesHidden">Less properties</span>
            </button>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-content>
            <div #inOutConnector></div>
        </mat-card-content>
    </mat-card>
</div>
<div mat-dialog-actions>
    <button mat-button cdkFocusInitial matDialogClose>Close</button>
</div>
