mat-card {
    margin: 10px 0;
}

mat-card:not(:last-child) {
    margin-bottom: 20px;
}

table {
    padding-left: 20px;
}

td:first-child {
    padding-right: 40px;
}

td.fcl-station-properties-horizontal-line-cell {
    padding: 0;
}

.fcl-station-properties-horizontal-line {
    width: 100%;
    margin: 1rem 0;
}

.example-handle {
    display: flex;
    justify-content: flex-end;

    svg {
        cursor: move;
        color: #ccc;
    }
}
