<mat-form-field
    class="fcl-complex-filter-form-field"
    appearance="outline"
    color="primary">
    <input
        type="text"
        matInput
        [placeholder]="placeholder"
        autocomplete="off"
        [value] = "value"
        (input) = "onInput($event)"
        [matAutocomplete]="filterValues"
        [disabled]="disabled"
    />

    <mat-autocomplete #filterValues="matAutocomplete"
        (optionSelected)="onOptionSelected($event)"
        (closed)="onAutocompleteClosed()"
        (opened)="onAutocompleteOpened()"
    >
        <ng-container *ngFor="let item of autoCompleteValues">
            <mat-option
                class="fcl-filter-select-option"
                [value]="item">
                {{ item }}
            </mat-option>
        </ng-container>
    </mat-autocomplete>
</mat-form-field>
