@use '../../../../assets/sass/base' as fcl;

:host {
    width: 100vw;
}

.fcl-image-container {
    width: 100%;
    background-color: fcl.$fcl-bg-color;
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
}
