@use "../../../../assets/sass/base" as fcl;

.fcl-edit-rule {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    padding-top: 1rem;
    border: 1px solid rgb(0 0 0 / 0.12);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.fcl-edit-rule-name-and-symbol-fields {
    display: grid;
    grid-template-areas: "rulename symbol rest";
    grid-template-columns: 50% 24px calc(50% - 24px);
    padding-bottom: 0.5rem;
}

.fcl-edit-rule-name-field {
    grid-area: rulename;
    margin-right: 1ch;
}

.fcl-edit-rule-symbol {
    grid-area: symbol;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fcl-edit-rule-color-and-service-fields {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-right: -1ch;
    margin-top: -0.1rem;
    margin-bottom: -0.1rem;
}

.fcl-edit-rule-color-fields {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 1ch;
    margin-bottom: 0.1rem;
    margin-top: 0.1rem;
}

.fcl-edit-rule-color-label {
    margin-right: 1ch;
}

.fcl-edit-rule-color-selector {
    max-width: 10ch;
}

.fcl-edit-rule-action-button {
    font-size: inherit;
}

.fcl-edit-rule-action-button:hover:enabled {
    background-color: fcl.$fcl-accent-300;
    color: rgb(255 255 255 / 0.9);
}

.fcl-edit-rule-complex-filter {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.fcl-edit-rule-action-button-container {
    display: flex;
    flex-wrap: wrap;
}
