#graph {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.ui-view-component-fix>* {
    margin: 0;
    width: 100%;
    min-height: 100%;
    height: 100%;
    flex-direction: row;
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
