#graph {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.ui-view-component-fix>* {
    width: 100%;
    height: 100%;
    display: flex;
}

.tracing-forward {
    background-color: #0F0;
}

.tracing-backward {
    background-color: #088;
}

.tracing-observed {
    background-color: #00F;
}

.tracing-outbreak {
    background-color: #F00;
}
