@import '../../../../assets/sass/base';

.fcl-predefined-filter-view-field {
    width: 100%;
    border-radius: 0;
    font-size: 0.8rem;
    color: rgb(0, 0, 0);
}

.fcl-predefined-filter-view .mat-form-field-appearance-outline .mat-form-field-outline {
    color: white;
    background-color: white;
    box-shadow: $fcl-box-shadow;
}

.fcl-filter-select-option {
    height: 1.5rem !important;
}
