<mat-form-field class="fcl-predefined-filter-view-field" appearance="outline" color="primary">

    <mat-label>Pre-defined Filters</mat-label>

    <mat-select
        [(value)]="tableSettings.showType"
        (selectionChange)="setTableShowType($event)">
        <ng-container *ngFor="let showType of showTypes">
            <mat-option class="fcl-filter-select-option" [value]="showType">
                {{ showType }}
            </mat-option>
        </ng-container>
    </mat-select>

</mat-form-field>
