<div class="fcl-profile-item fcl-profile-container">
    <mat-card class="fcl-mat-card fcl-mat-card-container">
        <mat-card-header class="fcl-mat-card-header">
            <div class="mat-headline">User Profile</div>
            <mat-divider></mat-divider>
        </mat-card-header>

        <mat-card-content>
            <div class="fcl-mat-card-content">
                <div class="fcl-activate-text">
                    <p class="mat-body-2">{{ currentUser.firstName }} {{ currentUser.lastName }}</p>
                    <p class="mat-body-2">{{ currentUser.email }}</p>
                </div>

                <div class="fcl-card-action fcl-card-action-container">
                    <div class="form-group fcl-recover-button">
                        <button mat-raised-button color="primary" [routerLink]="['/users/login']" (click)="logout()">
                            Logout
                        </button>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>
