<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <title>FoodChain-Lab</title>

  <!-- build:css styles/main.css -->
  <link href="styles/style.css" rel="stylesheet" />
  <!-- endbuild -->
</head>

<body ng-app="app">
  <div id="logo"></div>
  <div id="cy"></div>

  <table id="people-table" ng-controller="GraphCtrl">
    <tbody>
      <tr>
        <th>Name</th>
        <th>Weight</th>
      </tr>
      <!--<tr ng-repeat="node in nodes">-->
      <!--  <td>{{node.name}}</td>-->
      <!--  <td><input type="number" min="1" ng-model="node.weight" ng-change="onWeightChange(node)" /></td>-->
      <!--</tr>-->
    </tbody>
  </table>

  <!-- build:js scripts/main.js -->
  <script src="../bower_components/jquery/dist/jquery.min.js"></script>
  <script src="../bower_components/angular/angular.min.js"></script>
  <script src="../bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="../bower_components/cytoscape/dist/cytoscape.min.js"></script>
  <script src="scripts/app.js"></script>
  <script src="scripts/controllers.js"></script>
  <script src="scripts/data_provider.js"></script>
  <script src="scripts/graph.js"></script>
  <!-- endbuild -->
</body>

</html>
