@use '../../../../assets/sass/base' as fcl;

:host {
    height: 16vh;
}

.fcl-entry-page-item {
    height: 100%;
    box-sizing: border-box;
    background-color: fcl.$fcl-bg-color-entry;
    border-bottom: 5px groove rgba(120, 109, 109, 0.5);
}

.fcl-entry-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fcl-logo {
    max-width: 70%;
    height: 70%;
    margin-right: 4rem;
}

.fcl-content {
    color: white;
    font-size: 3.5rem;
}
