<mat-toolbar class="fcl-toolbar-item fcl-toolbar-container" color="primary">
    <div class="fcl-item fcl-toolbar-menu-container">
        <button
            class="fcl-toolbar-menu-bottom"
            mat-icon-button
            (click)="onToggleLeftSidebar()"
            [ngStyle]="{'visibility': tracingActive ? 'visible' : 'hidden'}">
            <mat-icon>menu</mat-icon>
        </button>
        <button
            class="fcl-toolbar-title"
            mat-button
            [routerLink]="isServerLess() || userService.loggedIn() ? ['/users/profile'] : ['/']"
            id="homeButton">
            <span class="mat-title">{{ appName }}</span>
        </button>
    </div>
    <fcl-toolbar-action-container class="fcl-item fcl-toolbar-action-item fcl-toolbar-action-container"></fcl-toolbar-action-container>
    <fcl-avatar-container class="fcl-item fcl-toolbar-avatar-container fcl-toolbar-menu-bottom"></fcl-avatar-container>
</mat-toolbar>
