<div class="fcl-mat-card-content" *ngIf="tokenValid">
    <div class="fcl-newsactivate-text">
        <p class="mat-subheading-1">
            You have subscribed to {{ appName }} newsletter.
        </p>
        <p class="mat-subheading-1">
            You can unsubscribe from our newsletters at any time. Please write
            an e-mail to {{ supportContact }} to unsubscribe. You will need the
            e-mail address that you gave when you registered.
        </p>
    </div>

    <div class="fcl-card-action fcl-card-action-container">
        <div class="form-group fcl-continue-button">
            <button
                mat-raised-button
                color="primary"
                type="submit"
                [routerLink]="['/users/login']"
            >
                Continue
            </button>
        </div>
    </div>
</div>

<div class="fcl-mat-card-content" *ngIf="!tokenValid">
    <div class="fcl-newsactivate-text">
        <p class="mat-subheading-1">
            Your subscription to {{ appName }} newsletter failed.
        </p>
        <p class="mat-subheading-1">
            Please write an e-mail to {{ supportContact }}
        </p>
    </div>

    <div class="fcl-card-action fcl-card-action-container">
        <div class="form-group fcl-continue-button">
            <button
                mat-raised-button
                color="primary"
                type="submit"
                [routerLink]="['/users/login']"
            >
                Continue
            </button>
        </div>
    </div>
</div>
