<fcl-highlighting-station-view
    class="fcl-hightlighting-station-view"
    [availableProperties]="availableProperties"
    [propToValuesMap]="propToValuesMap"
    [rules]="rules"
    [editRules]="editRules"
    [highlightingStats]="highlightingStats"

    (addSelectionToRuleConditions)="onAddSelectionToRuleConditions($event)"
    (removeSelectionFromRuleConditions)="onRemoveSelectionFromRuleConditions($event)"
    (rulesChange)="onRulesChange($event)"
    (editRulesChange)="onEditRulesChange($event)"
    (ruleDelete)="onRuleDelete($event)"
>
</fcl-highlighting-station-view>
