<ng-template #standardFilterTemplate>
    <fcl-standard-filter
        filterLabel="Filter in all station data">
    </fcl-standard-filter>
</ng-template>

<ng-template #predefinedFilterTemplate>
    <fcl-predefined-filter
        [predefinedLabelConfig]="predefinedLabelConfig"
        [selected]="selected">
    </fcl-predefined-filter>
</ng-template>

<ng-template #stationTableTemplate>
    <fcl-station-table></fcl-station-table>
</ng-template>

<fcl-filter-station-layout
    class="fcl-filter-station-container"
    [standardFilterTemplate]="standardFilterTemplate"
    [predefinedFilterTemplate]="predefinedFilterTemplate"
    [stationTableTemplate]="stationTableTemplate">
</fcl-filter-station-layout>
