.fcl-condition-list-container {
    flex: 1;
    width: 100%;
}

.fcl-condition-list-container.fcl-list-mode-isactive {
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: lightgray;
}

.cdk-virtual-scroll-viewport.fcl-hide-scrollbar {
    scrollbar-width: none;
}

.cdk-virtual-scroll-content-wrapper {
    width: 100%;
}

.fcl-condition-list-scrollup-indicator,
.fcl-condition-list-scrolldown-indicator {
    height: 20px;
    opacity: 0.3;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: transparent;
    pointer-events: none;
}

.fcl-condition-list-scrollup-indicator {
    margin-bottom: -20px;
}

.fcl-condition-list-scrolldown-indicator {
    margin-top: -20px;
}

.fcl-complex-filter-condition-container {
    display: grid;
    grid-template-columns: 20% 15% 45% 15% 5%;
    grid-template-rows: auto;
    height: 39px;
}

.fcl-complex-filter-form-field {
    font-size: 0.8rem;
    width: 100%;
}

.fcl-complex-filter-form-field .mat-form-field-wrapper {
    padding: 0;
    margin: 0;
}

.fcl-complex-filter-form-field .mat-form-field-wrapper .mat-form-field-infix {
    border-top-width: 0.3rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
}

.fcl-filter-condition-button {
    min-width: 100%;
    padding: 0;
}
