@import '../../../../assets/sass/base';

.fcl-complex-filter-container {
    display: grid;
    grid-template-columns: 20% 15% 45% 15% 5%;
    grid-template-rows: auto;
}

.fcl-complex-filter-form-field-select {
    font-size: 0.8rem;
}

.fcl-complex-filter-form-field-select .mat-form-field-wrapper {
    padding: 0;
    margin: 0;
}

.fcl-complex-filter-form-field-select .mat-form-field-wrapper .mat-form-field-infix {
    border-top-width: 0.3rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
}

.fcl-filter-condition-button {
    min-width: 100%;
    padding: 0;
}
