<app-spinner-loader></app-spinner-loader>
<app-alert></app-alert>

<div
  class="master-container"
  fxLayout="column"
  fxLayoutAlign="center stretch">

  <!-- header -->
  <div
    class="header"
    fxFlex>

    <mat-toolbar
      id="mainToolbar"
      class="mat-elevation-z5"
      color="primary">
      <button
        mat-icon-button
        (click)="appService.onToggleLeftSidebar()"
        [disabled]="!isTracingActive()">
        <mat-icon>menu</mat-icon>
      </button>
      <button
        mat-button
        [routerLink]="(isServerLess() || authService.loggedIn()) ? ['/users/main'] : ['/']"
        id="homeButton">
        <span class="mat-title">{{ appName }}</span>
      </button>
      <span
        class="toolbarSpan"
        fxFlex></span>

      <button
        *ngIf="(isServerLess() || authService.loggedIn()) && !isTracingActive()"
        mat-icon-button
        [routerLink]="['/tracing']"
        matTooltip="Tracing view">
        <mat-icon>timeline</mat-icon>

      </button>

      <button
        *ngIf="(isServerLess() || authService.loggedIn()) && isTracingActive()"
        mat-icon-button
        (click)="appService.onSaveImage()"
        matTooltip="Save image">
        <mat-icon>image</mat-icon>
      </button>
      <input
        *ngIf="(isServerLess() || authService.loggedIn()) && isTracingActive()"
        id="fileInput"
        #fileInput
        type="file"
        (change)="appService.onLoad($event)">
      <button
        *ngIf="(isServerLess() || authService.loggedIn()) && isTracingActive()"
        mat-icon-button
        onclick="document.getElementById('fileInput').click()"
        matTooltip="Upload data">
        <mat-icon>file_upload</mat-icon>
      </button>
      <button
        *ngIf="(isServerLess() || authService.loggedIn()) && isTracingActive()"
        mat-icon-button
        (click)="appService.onSave()"
        matTooltip="Download data">
        <mat-icon>file_download</mat-icon>
      </button>
      <button
        *ngIf="(isServerLess() || authService.loggedIn()) && isTracingActive()"
        mat-icon-button
        (click)="appService.onVisioLayout()"
        matTooltip="Generate Visio Layout">
        <mat-icon>image</mat-icon>
      </button>
      <button
        *ngIf="!rightSidenav.opened && (isServerLess() || authService.loggedIn()) && isTracingActive()"
        mat-icon-button
        (click)="appService.onToggleRightSidebar()"
        matTooltip="Toggle right sidebar">
        <mat-icon>info</mat-icon>
      </button>
      <button
        *ngIf="rightSidenav.opened && (isServerLess() || authService.loggedIn()) && isTracingActive()"
        mat-mini-fab
        (click)="appService.onToggleRightSidebar()"
        matTooltip="Toggle right sidebar">
        <mat-icon>info</mat-icon>
      </button>
      <mat-divider [inset]="true" [vertical]="true"></mat-divider>

      <a
        *ngIf="!authService.loggedIn()"
        mat-button
        [routerLink]="['/users/login']">
        <mat-icon>exit_to_app</mat-icon>
        Login/Register
      </a>

      <button
        *ngIf="authService.loggedIn()"
        mat-icon-button
        [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu
        #menu="matMenu"
        [overlapTrigger]="false">
        <div mat-menu-item disabled>
          <mat-icon>account_circle</mat-icon>
          <span>{{ getCurrentUserEmail() }}</span>
        </div>
        <mat-divider></mat-divider>
        <button
          mat-menu-item
          (click)="logout()">
          <mat-icon>power_settings_new</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>


    </mat-toolbar>
  </div>


  <!-- main content -->
  <div
    class="main-content"
    fxFlex="90vh">

    <mat-sidenav-container
      id="sidenavContainer"
      #sidenavContainer>

      <!-- left sidenav -->
      <mat-sidenav
        id="leftSidenav"
        #leftSidenav
        position="start"
        mode="side">
        <h1>mat-sidenav</h1>
      </mat-sidenav>

      <!-- main content -->
      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>

      <!-- right sidenav -->
      <mat-sidenav
        id="rightSidenav"
        #rightSidenav
        position="end"
        mode="side">
        <div id="rightSidenavContent">
          <div id="sidenavSlider" #sidenavSlider>
            <div id="sidenavSliderCenter"></div>
          </div>
          <app-table #table></app-table>
        </div>
      </mat-sidenav>

    </mat-sidenav-container>
  </div>


  <!-- footer -->
  <div
    class="footer"
    fxFlex>
    <mat-toolbar
      class="mat-elevation-z5"
      color="accent"
      fxLayout="row"
      fxLayoutAlign="center center">
      <div class="footer-element" fxFlex>
        <a
          mat-button
          href="https://www.bfr.bund.de"
          target="_blank">
          <mat-icon>public</mat-icon>
          <span class="mat-caption"> BfR - Bundesinstitut für Risikobewertung</span>
          <!-- BfR - Bundesinstitut für Risikobewertung -->
        </a>
      </div>
      <div class="footer-element" fxFlex>
        <a
          mat-button
          href="https://foodrisklabs.bfr.bund.de"
          target="_blank">
          <mat-icon>public</mat-icon>
          <span class="mat-caption"> FoodRisk - Labs</span>
        </a>
      </div>
      <div class="footer-element" fxFlex>
        <a
          mat-button
          href="mailto:{{ supportContact }}"
          target="_top">
          <mat-icon>mail</mat-icon>
          <span class="mat-caption"> Report a Problem</span>
        </a>
      </div>
      <a [routerLink]="['/graph-editor']" style="display:block; height:25px; width:25px"> </a>
    </mat-toolbar>
  </div>

</div>
