<md-toolbar id="mainToolbar" class="mat-elevation-z5" color="primary">
  <button md-icon-button (click)="leftSidenav.toggle()">
    <md-icon>menu</md-icon>
  </button>
  <button md-button id="homeButton">FoodChain-Lab</button>
  <span class="toolbarSpan"></span>
  <button md-icon-button (click)="onSaveImage()">
    <md-icon>image</md-icon>
  </button>
  <input id="fileInput" #fileInput type="file" (change)="onLoad($event)">
  <button md-icon-button onclick="document.getElementById('fileInput').click()">
    <md-icon>file_upload</md-icon>
  </button>
  <button md-icon-button (click)="onSave()">
    <md-icon>file_download</md-icon>
  </button>
  <button *ngIf="!rightSidenav.opened" md-icon-button (click)="rightSidenav.toggle()">
    <md-icon>info</md-icon>
  </button>
  <button *ngIf="rightSidenav.opened" md-mini-fab (click)="rightSidenav.toggle()">
    <md-icon>info</md-icon>
  </button>
</md-toolbar>

<md-sidenav-container id="mainContainer" #mainContainer>
  <md-sidenav id="leftSidenav" #leftSidenav align="start" mode="side">
    <md-toolbar color="primary">
      <span>Graph Settings</span>
    </md-toolbar>
    <div class="sidenav-elements">
      <md-radio-group [(ngModel)]="data.graphSettings.type" (ngModelChange)="onGraphChange('type')">
        <md-radio-button *ngFor="let type of graphTypes" [value]="type">
          {{type}}
        </md-radio-button>
      </md-radio-group>
      <md-select placeholder="Node Size" [(ngModel)]="data.graphSettings.nodeSize"
                 (ngModelChange)="onGraphChange('nodeSize')">
        <md-option *ngFor="let size of sizes" [value]="size">
          {{size}}
        </md-option>
      </md-select>
      <md-select placeholder="Font Size" [(ngModel)]="data.graphSettings.fontSize"
                 (ngModelChange)="onGraphChange('fontSize')">
        <md-option *ngFor="let size of sizes" [value]="size">
          {{size}}
        </md-option>
      </md-select>
      <md-checkbox [(ngModel)]="data.graphSettings.mergeDeliveries" (ngModelChange)="onGraphChange('mergeDeliveries')">
        Merge Deliveries
      </md-checkbox>
      <md-checkbox [(ngModel)]="data.graphSettings.showLegend" (ngModelChange)="onGraphChange('showLegend')">
        Show Legend
      </md-checkbox>
      <md-checkbox [(ngModel)]="data.graphSettings.showZoom" (ngModelChange)="onGraphChange('showZoom')">
        Show Zoom Controls
      </md-checkbox>
    </div>
    <md-toolbar color="primary">
      <span>Table Settings</span>
    </md-toolbar>
    <div class="sidenav-elements">
      <md-radio-group [(ngModel)]="data.tableSettings.mode" (ngModelChange)="onTableChange('mode')">
        <md-radio-button *ngFor="let mode of tableModes" [value]="mode">
          {{mode}}
        </md-radio-button>
      </md-radio-group>
      <button md-raised-button (click)="changeColumns()">Change Columns</button>
      <md-select placeholder="Show Type" [(ngModel)]="data.tableSettings.showType"
                 (ngModelChange)="onTableChange('showType')">
        <md-option *ngFor="let showType of showTypes" [value]="showType">
          {{showType}}
        </md-option>
      </md-select>
    </div>
  </md-sidenav>

  <div id="mainContent">
    <app-graph #graph [hidden]="data.graphSettings.type != graphType"></app-graph>
    <app-gis #gis [hidden]="data.graphSettings.type != gisType"></app-gis>
  </div>

  <md-sidenav id="rightSidenav" #rightSidenav align="end" mode="side">
    <div id="rightSidenavContent">
      <div id="sidenavSlider" #sidenavSlider>
        <div id="sidenavSliderCenter"></div>
      </div>
      <app-table #table></app-table>
    </div>
  </md-sidenav>
</md-sidenav-container>
