.master-container {
  height: 100vh;
}


.header, .footer {
  z-index: 3;
}

.footer-toolbar {
  font-size: 0.8em;
}

.footer-element {
  text-align: center;
}


#leftSidenav {
  background-color: rgb(245, 245, 245);
  z-index: 2;
}

#fileInput {
  display: none;
}

#sidenavContainer {
  height: 100%;
}