:host {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

md-sidenav {
  box-shadow: none !important;
  border-left: 1px solid rgba(0, 0, 0, 0.4) !important;
  border-right: 1px solid rgba(0, 0, 0, 0.4) !important;
}

md-radio-button {
  padding-right: 10px;
}

md-radio-button:last-child {
  padding-right: 0;
}

md-list-item md-select {
  width: 100%;
  padding-top: 20px;
}

md-list-item button {
  width: 100%;
}

#mainToolbar {
  z-index: 3;
}

#mainContent {
  width: 100%;
  height: calc(100% - 64px);
}

#leftSidenav {
  z-index: 2;
}

#rightSidenav {
  min-width: 200px;
  z-index: 1;
}

#rightSidenavContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

#sidenavSlider {
  width: 10px;
  height: 100%;
  cursor: ew-resize;
  background-color: rgb(200, 200, 200);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#sidenavSliderCenter {
  width: 100%;
  height: 50px;
  background-color: rgb(100, 100, 100);
}

#table {
  width: calc(100% - 10px);
  height: 100%;
}
