<div class="md-toolbar-tools" layout="row">
    <md-button class="md-icon-button" aria-label="Toogle Left Sidebar" ng-click="$ctrl.onChange({property: 'leftSidenavOpen', value: !$ctrl.settings.leftSidenavOpen})">
        <md-icon md-svg-icon="menu"></md-icon>
    </md-button>
    <span>FoodChain-Lab</span>
    <span flex></span>
    <md-button class="md-icon-button" aria-label="Toogle Right Sidebar" ng-click="$ctrl.onChange({property: 'rightSidenavOpen', value: !$ctrl.settings.rightSidenavOpen})">
        <md-icon md-svg-icon="menu"></md-icon>
    </md-button>
</div>
