<md-content layout-fill>
    <md-input-container class="md-block">
        <label>Station Size</label>
        <md-select ng-model="$ctrl.nodeSize" ng-change="$ctrl.onChange('nodeSize', $ctrl.nodeSize)">
            <md-option ng-repeat="(label, value) in $ctrl.nodeSizes" value="{{value}}">
                {{label}}
            </md-option>
        </md-select>
    </md-input-container>
    <md-input-container class="md-block">
        <label>Font Size</label>
        <md-select ng-model="$ctrl.fontSize" ng-change="$ctrl.onChange('fontSize', $ctrl.fontSize)">
            <md-option ng-repeat="(label, value) in $ctrl.fontSizes" value="{{value}}">
                {{label}}
            </md-option>
        </md-select>
    </md-input-container>
</md-content>
