<div class="md-toolbar-tools" layout="row">
    <span>FoodChain-Lab</span>
    <div md-theme="inverse">
        <md-nav-bar md-selected-nav-item="$ctrl.currentNavItem" nav-bar-aria-label="Navigation Links">
            <md-nav-item class="md-warn md-hue-1" md-nav-sref="graph" name="graph">Tracing View</md-nav-item>
            <md-nav-item class="md-warn md-hue-2" md-nav-sref="stations" name="stations">Stations Data</md-nav-item>
            <md-nav-item class="md-warn md-hue-3" md-nav-sref="deliveries" name="deliveries">Deliveries Data</md-nav-item>
        </md-nav-bar>
    </div>
</div>
