.loader-hidden {
    visibility: hidden;
}

.loader-overlay {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    inset: 0;
}

/* Transparent Overlay */
.loader-overlay::before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255 255 255 / 1);
}
