.fcl-card-action-container {
    display: flex;
    flex-direction: column;
}

.fcl-mat-card-content {
    width: 500px;
}

.fcl-activate-text {
    margin-top: 3rem;
}

.fcl-login-button {
    margin-top: 2rem;
}

.fcl-activation-succeeded-content .fcl-login-button {
    margin-top: 1rem;
    align-self: center;

    button {
        min-width: 200px;
    }
}
