<div id="fcl-cs-rules-list"
    cdkDropList
    (cdkDropListDropped)="onDrop($event)"
>

    <div
        class="fcl-cs-rules-list-item"
        *ngFor="let item of rules; let i = index"
        [ngClass]="item.disabled ? 'fcl-rule-disabled' : ''"
        cdkDrag [cdkDragDisabled]="isEditRuleModeActive"
        cdkDragLockAxis="y"
        cdkDragBoundary=".cdk-drop-list"
    >

        <div class="fcl-cs-rules-list-drag-indicator" cdkDragHandle>
            <mat-icon [disabled]="isEditRuleModeActive">drag_indicator</mat-icon>
        </div>
        <div
            class="fcl-cs-rules-list-item-name"
            cdkDragHandle
        >
            {{ item.name }}
        </div>

        <div
            class="fcl-cs-rules-list-item-counts"
            [matTooltip]="getCountTooltip(item)"
            matTooltipPosition="above"
            matTooltipClass="fcl-tooltip--with-linebreaks fcl-tooltip--centered"
        >
            <span>{{ getCount(item) }}</span>
        </div>

        <mat-slide-toggle
            class="fcl-cs-rules-list-item-activated-slider fcl-mat-slide-toggle fcl-mat-slide-toggle--small"
            [matTooltip]="isEditRuleModeActive ? '' : item.disabled ? 'Activate Highlighting Rule' : 'Deactivate Highlighting Rule'"
            matTooltipPosition="above"
            [checked]="!item.disabled"
            (change)="onToggleRuleIsDisabled(i)"
            [disabled]="isEditRuleModeActive"
        ></mat-slide-toggle>

        <div class="fcl-cs-rules-list-item-edit-button-wrapper">
            <button
                class="fcl-cs-rules-list-item-edit-button"
                mat-button
                matTooltip="Edit Highlighting Rule"
                matTooltipPosition="above"
                color="accent"
                (click)="onStartEdit(i)"
                [disabled]="!isStartEditAvailable"
            >
                <mat-icon>edit</mat-icon>
            </button>
        </div>

        <div class="fcl-cs-rules-list-item-delete-button-wrapper">
            <button
                class="fcl-cs-rules-list-item-delete-button"
                mat-button
                matTooltip="Delete Highlighting Rule"
                matTooltipPosition="above"
                color="warn"
                (click)="onRuleDelete($event, i)"
                [disabled]="isEditRuleModeActive"
                >
                <mat-icon>delete forever</mat-icon>
            </button>
        </div>

        <fcl-colors-and-shapes-edit-view
            *ngIf="editRule !== null && editRule.id === item.id"
            class="fcl-cs-rules-list-edit-item"

            [rule]="editRule"
            [availableProperties]="availableProperties"
            [propToValuesMap]="propToValuesMap"

            (applyRule)="onRuleApply($event)"
            (cancelEdit)="onCancelEdit()"
            (okRule)="onRuleOk($event)"
        >
        </fcl-colors-and-shapes-edit-view>

    </div>

</div>

<button
    *ngIf="showAddRuleButton"
    mat-stroked-button
    class="fcl-add-cs-rule-button"
    matTooltip="Add Highlighting Rule"
    matTooltipPosition="above"
    color="primary"
    (click)="onRuleAdd()"
    [disabled]="!isStartEditAvailable"
>
    <mat-icon>add</mat-icon>
</button>

<fcl-colors-and-shapes-edit-view
    *ngIf="showEditNewRuleDialog"

    class="fcl-new-cs-rule-dialog"
    [rule]="editRule"
    [availableProperties]="availableProperties"
    [propToValuesMap]="propToValuesMap"

    (addSelection)="onAddSelectionToRuleConditions($event)"
    (removeSelection)="onRemoveSelectionFromRuleConditions($event)"
    (applyRule)="onRuleApply($event)"
    (cancelEdit)="onCancelEdit()"
    (okRule)="onRuleOk($event)"
>
</fcl-colors-and-shapes-edit-view>
