<mat-form-field
    class="fcl-complex-filter-form-field"
    appearance="outline"
    color="primary"
>
    <mat-select
        [value]="value"
        (valueChange)="onValueChange($event)"
        [disabled]="disabled"
        placeholder="op"
    >
        <ng-container *ngFor="let type of availableOperatorTypes">
            <mat-option class="fcl-filter-select-option" [value]="type">
                {{ getOperatorLabel(type) }}
            </mat-option>
        </ng-container>
    </mat-select>
</mat-form-field>
