<mat-form-field
    class="fcl-complex-filter-form-field"
    appearance="outline"
    color="primary"
>
    <mat-select
        [value]="value"
        (valueChange)="onValueChange($event)"
        [disabled]="disabled"
        placeholder="op"
    >
        <mat-option
            *ngFor="let operator of availableOperators"
            class="fcl-filter-select-option"
            [value]="operator.type"
            [matTooltip]="operator.tooltip"
            matTooltipPosition="left"
        >
            {{ operator.label }}
        </mat-option>
    </mat-select>
</mat-form-field>
