<div class="fcl-graph-container" #container>
    <div class="fcl-graph" #graph></div>
    <fcl-zoom-view class="fcl-graph-zoom" data-html2canvas-ignore="true"
        *ngIf="showZoom$ | async"
        [zoomValue]="zoomPercentage"
        (zoomIn)="zoomInPressed()"
        (zoomOut)="zoomOutPressed()"
        (zoomReset)="zoomResetPressed()"
        (zoomSlided)="zoomSlided($event)"
    ></fcl-zoom-view>
    <fcl-graph-legend-view
        class="fcl-graph-legend"
        *ngIf="showLegend$ | async"
        [legendInfo]="legendInfo"
    ></fcl-graph-legend-view>
    <fcl-created-image-view></fcl-created-image-view>
</div>
<fcl-graph-context-menu #contextMenu (layoutAction)="performLayoutAction($event)"></fcl-graph-context-menu>
