<div class="container" layout="row" flex>
    <md-sidenav class="md-whiteframe-4dp" md-is-locked-open="true">
        <md-content>
            <md-nav-bar md-selected-nav-item="$ctrl.mode" nav-bar-aria-label="Data Type">
                <md-nav-item ng-repeat="(label, value) in $ctrl.modes" md-nav-click="$ctrl.switchModeTo(value)" name="{{value}}">{{label}}</md-nav-item>
            </md-nav-bar>
            <checkbox label="Show Trace only" selected="$ctrl.showTraceOnly" on-change="$ctrl.onChange('showTraceOnly', selected)"></checkbox>
        </md-content>
    </md-sidenav>
    <md-content flex>
        <md-table-container>
            <table md-table>
                <thead md-head md-order="$ctrl.order">
                    <tr md-row>
                        <th md-column ng-style="$ctrl.getCellStyle()" md-order-by="data.id"><span>ID</span></th>
                        <th md-column ng-style="$ctrl.getCellStyle()" md-order-by="data.name"><span>Name</span></th>
                        <th md-column ng-style="$ctrl.getCellStyle()" md-order-by="data.type"><span>Type</span></th>
                        <th md-column ng-style="$ctrl.getCellStyle()" md-order-by="data.score"><span>Score</span></th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row ng-repeat="station in $ctrl.stations | orderBy: $ctrl.order" ng-style="$ctrl.getRowStyle(station)">
                        <td md-cell ng-style="$ctrl.getCellStyle(station,'first')">{{station.data.id}}</td>
                        <td md-cell ng-style="$ctrl.getCellStyle(station,'')">{{station.data.name}}</td>
                        <td md-cell ng-style="$ctrl.getCellStyle(station,'')">{{station.data.type}}</td>
                        <td md-cell ng-style="$ctrl.getCellStyle(station,'last')">{{station.data.score}}</td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
    </md-content>
</div>
