:host {
    flex: 1;
    display: flex;
    justify-content: center;
}

.fcl-data-protection-declaration {
    padding-left: 25%;
    padding-right: 25%;
    margin-top: 3rem;
}

.fcl-data-protection-declaration-title {
    text-align: center;
}

.fcl-data-protection-declaration-text {
    line-height: 1.6;
}

.fcl-data-protection-declaration-subheader {
    padding: 2rem 0 1rem 0;
}
