<div class="fcl-graph-container">
    <fcl-geomap [mapConfig]="mapConfig$ | async" class="fcl-graph-map">
    </fcl-geomap>

    <fcl-unknown-lat-lon-frame-view
        *ngIf="viewport !== null && unknownLatLonRect !== null"
        [viewport]="viewport"
        [unknownLatLonRect]="unknownLatLonRect"
        [unknownLatLonRectBorderWidth]="unknownLatLonRectBorderWidth"
        class="fcl-unknown-lat-lon-frame"
    ></fcl-unknown-lat-lon-frame-view>

    <fcl-graph-view
        class="fcl-graph"
        [fitGraphToVisibleArea]="fitGraphToVisibleArea$ | async"
        [graphData]="graphData"
        [styleConfig]="styleConfig$ | async"
        [cyConfig]="cyConfig"
        [showZoom]="showZoom$ | async"
        (graphDataChange)="onGraphDataChange($event)"
        (contextMenuRequest)="onContextMenuRequest($event)"
        #graph
    ></fcl-graph-view>

    <fcl-graph-legend-view
        class="fcl-graph-legend"
        *ngIf="(showLegend$ | async) && legendInfo !== null"
        [legendInfo]="legendInfo"
        [showMissingGisInfoEntry]="showMissingGisInfoEntry"
    ></fcl-graph-legend-view>

    <fcl-geomap-licref-view class="fcl-osm-reference"></fcl-geomap-licref-view>
</div>

<fcl-context-menu-view
    (itemSelected)="onContextMenuSelect($event)"
    #contextMenu
></fcl-context-menu-view>
