<div class="fcl-tracing-container">
    <mat-sidenav-container id="mainContainer" #mainContainer>
        <mat-sidenav class="fcl-left-sidenav" id="leftSidenav" #leftSidenav position="start" mode="side" [opened]="leftOpened">
            <fcl-graph-settings></fcl-graph-settings>
            <fcl-table-settings></fcl-table-settings>
        </mat-sidenav>

        <mat-sidenav-content class="mat-sidenav-content-container">
            <div id="mainContent">
                <fcl-graph #graph [hidden]="data.graphSettings.type != graphType"></fcl-graph>
                <fcl-gis #gis [hidden]="data.graphSettings.type != gisType"></fcl-gis>
            </div>
        </mat-sidenav-content>

        <mat-sidenav id="rightSidenav" #rightSidenav position="end" mode="side" [opened]="rightOpened">
            <div id="rightSidenavContent">
                <div id="sidenavSlider" #sidenavSlider>
                    <div id="sidenavSliderCenter"></div>
                </div>
                <fcl-table #table></fcl-table>
            </div>
        </mat-sidenav>
    </mat-sidenav-container>
</div>
