<fcl-dialog-movable>
    <div mat-dialog-content>
        <mat-card>
            <mat-card-title>
                <span>Data import warnings</span>
            </mat-card-title>
            <mat-card-content>
                <span *ngIf="fileName">
                    The following warnings occurred during the import of file
                    {{ fileName }}
                </span>
                <ul *ngFor="let warning of warnings">
                    <li>{{ warning }}</li>
                </ul>
            </mat-card-content>
        </mat-card>
    </div>
    <div mat-dialog-actions>
        <button mat-button cdkFocusInitial matDialogClose>Close</button>
    </div>
</fcl-dialog-movable>
