<div id="container" #container>
    <div id="map" #map></div>
    <div id="graph" #graph></div>
    <fcl-zoom id="zoom" *ngIf="showZoom$ | async" [zoomValue] = "zoomPercentage" (zoomIn)="zoomInPressed()" (zoomOut)="zoomOutPressed()" (zoomReset)="zoomResetPressed()" (zoomSlided)="zoomSlided($event)"></fcl-zoom>
    <fcl-graph-legend id="legend" *ngIf="showLegend$ | async" [legendInfo]="legendInfo"></fcl-graph-legend>
    <div class="fcl-osm-reference">
        &copy; <a href="https://www.openstreetmap.org/copyright" target="_blank">OpenStreetMap</a> contributors
    </div>
    <fcl-created-image></fcl-created-image>
</div>
<fcl-graph-context-menu #contextMenu></fcl-graph-context-menu>
