#container {
    width: 100%;
    height: 100%;
}

#map {
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#graph {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#zoom {
    position: absolute;
    top: 20px;
    left: 12px;
    user-select: none;
}

#legend {
    z-index: 20;
    position: absolute;
    left: 16px;
    bottom: 20px;
    user-select: none;
}

#legend td {
    height: 30px;
    line-height: 30px;
    white-space: nowrap;
}

#legend td:first-child {
    padding-right: 20px;
}

#legend td:last-child {
    width: 30px;
    min-width: 30px;
}

#legend td:last-child div {
    width: 100%;
    height: 100%;
    border: 1px solid rgb(153, 153, 153);
}

.fcl-osm-reference {
    z-index: 20;
    position: absolute;
    // width: 180px;
    height: 20px;
    top: 0;
    right: 0;
    border: 1px solid rgb(211, 211, 211);
    font-size: 0.75em;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0 0.5em;
}
