.fcl-legend td {
    height: 30px;
    line-height: 30px;
    white-space: nowrap;
}

.fcl-legend td:first-child {
    padding-right: 20px;
}

.fcl-legend td:nth-child(2) {
    width: 30px;
    min-width: 30px;
}

.fcl-legend td:last-child {
    width: 30px;
    min-width: 30px;
}

.fcl-legend tr {
    vertical-align: middle;
}

.fcl-legend svg {
    display: inline-block;
    vertical-align: middle;
}
