#legend td {
    height: 30px;
    line-height: 30px;
    white-space: nowrap;
}

#legend td:first-child {
    padding-right: 20px;
}

#legend td:last-child {
    width: 30px;
    min-width: 30px;
}

#legend td:last-child div {
    width: 100%;
    height: 100%;
    border: 1px solid rgb(153, 153, 153);
}
