<span class="fcl-header-sort-span" (click)="onSort()">
    <span
        class="material-icons fcl-column-visibility-header-sort-icon pointable"
    >
        radio_button_unchecked
    </span>
    <span
        *ngIf="sortDir !== 'asc' && sortDir !== 'desc'"
        class="sort-btn datatable-icon-expand"
    ></span>
    <span
        *ngIf="sortDir === 'asc'"
        class="sort-btn sort-asc datatable-icon-up"
    ></span>
    <span
        *ngIf="sortDir === 'desc'"
        class="sort-btn sort-desc datatable-icon-down"
    ></span>
</span>
