<ng-template let-fieldName="fieldName" #serverValidationErrorsTemplate>
    <ng-container *ngFor="let error of serverValidationErrors[fieldName]; let i=index">
        <br *ngIf="i>0"><span>{{ error.message }}</span>
    </ng-container>
</ng-template>

<form [formGroup]="registerForm" class="fcl-register-form" (ngSubmit)="onRegister()">
    <div class="fcl-mat-card-content">
        <div class="form-group fcl-form-firstname">
            <mat-form-field class="fcl-form-field" appearance="standard">
                <mat-label>First Name</mat-label>
                <input matInput formControlName="firstName" name="firstName" required/>
                <mat-icon matPrefix>account_circle</mat-icon>
                <mat-error *ngIf="!validateField('firstName') && registerForm.controls.firstName.errors.required && !serverValidationErrors.firstName">
                    Required Field
                </mat-error>
                <mat-hint *ngIf="serverValidationErrors.firstName" class="mat-error">
                    <ng-container [ngTemplateOutlet]="serverValidationErrorsTemplate"
                        [ngTemplateOutletContext] ="{ fieldName: 'firstName' }">
                    </ng-container>
                </mat-hint>
            </mat-form-field>
        </div>

        <div class="form-group">
            <mat-form-field class="fcl-form-field" appearance="standard">
                <mat-label>Last Name</mat-label>
                <input matInput formControlName="lastName" name="lastName" required/>
                <mat-icon matPrefix>account_circle</mat-icon>
                <mat-error *ngIf="!validateField('lastName') && registerForm.controls.lastName.errors.required && !serverValidationErrors.lastName">
                    Required Field
                </mat-error>
                <mat-hint *ngIf="serverValidationErrors.lastName" class="mat-error">
                    <ng-container [ngTemplateOutlet]="serverValidationErrorsTemplate"
                        [ngTemplateOutletContext] ="{ fieldName: 'lastName' }">
                    </ng-container>
                </mat-hint>
            </mat-form-field>
        </div>

        <div class="form-group">
            <mat-form-field class="fcl-form-field" appearance="standard">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" name="email" required/>
                <mat-icon matPrefix>mail</mat-icon>
                <mat-error *ngIf="!validateField('email') && registerForm.controls.email.errors.required">
                    Required field
                </mat-error>
                <mat-error *ngIf="!validateField('email') && registerForm.controls.email.errors.email">
                    Not a valid email
                </mat-error>
                <mat-hint *ngIf="serverValidationErrors.email" class="mat-error">
                   <ng-container [ngTemplateOutlet]="serverValidationErrorsTemplate"
                        [ngTemplateOutletContext] ="{ fieldName: 'email' }">
                    </ng-container>
                </mat-hint>
            </mat-form-field>
        </div>

        <div class="form-group fcl-form-password" [ngClass]="{ error: !validateField('password1') }">
            <mat-form-field class="fcl-form-field" appearance="standard">
                <mat-label>Password</mat-label>
                <input matInput #message formControlName="password1" type="password" name="password1" required/>
                <mat-icon matPrefix>lock</mat-icon>
                <mat-error *ngIf="!validateField('password1') && registerForm.controls.password1.errors.required && !serverValidationErrors.password">
                    Required field
                </mat-error>
                <mat-hint *ngIf="serverValidationErrors.password" class="mat-error">
                    <ng-container [ngTemplateOutlet]="serverValidationErrorsTemplate"
                        [ngTemplateOutletContext] ="{ fieldName: 'password' }">
                    </ng-container>
                </mat-hint>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field class="fcl-form-field" appearance="standard">
                <mat-label>Confirm Password</mat-label>
                <input matInput formControlName="password2" type="password" name="password2" required />
                <mat-icon matPrefix>lock</mat-icon>
                <mat-error *ngIf="!validateField('password2') && registerForm.controls.password2.errors.validatePasswordConfirm">
                    Passwords must match
                </mat-error>
            </mat-form-field>
        </div>

        <div class="form-group fcl-form-checkbox">
            <mat-checkbox required formControlName="dataProtection">
                I have read and accept the
                <a
                    class="fcl-policy-link"
                    target="_blank"
                    [routerLink]="['/content/dataprotectiondeclaration']">
                    Privacy Policy
                </a>
                *
            </mat-checkbox>
            <mat-error *ngIf="!validateField('dataProtection')">
                You have to accept the Privacy Policy
            </mat-error>
        </div>

        <div class="form-group fcl-form-checkbox">
            <mat-checkbox
                class="fcl-newsletter-checkbox"
                formControlName="newsletter">
                <div class="fcl-text-wrap">
                    I agree to receive occasional email newsletters on e.g. new features of FCL Web or user trainings.
                    I can unsubscribe anytime by sending an email to
                    <a
                        class="fcl-policy-link"
                        href="mailto:foodrisklabs@bfr.bund.de" target="_top">
                        foodrisklabs@bfr.bund.de
                    </a>
                    .
                </div>
            </mat-checkbox>
        </div>

        <div class="fcl-card-action fcl-card-action-container">
            <div class="form-group fcl-submit-button">
                <button mat-raised-button color="primary" type="submit" [disabled]="!registerForm.valid">
                    Submit
                </button>
            </div>
            <div>
                <a mat-button [routerLink]="['/users/login']">
                    Cancel
                </a>
            </div>
        </div>
    </div>
</form>
