<mat-form-field
    class="fcl-complex-filter-form-field"
    appearance="outline"
    color="primary">
    <mat-label *ngIf="label !== null">{{ label }}</mat-label>
    <mat-select
        [ngClass]="isPropDataUnavailable ? 'fcl-option-unsupported' : ''"
        matTooltip="{{ isPropDataUnavailable ? 'Data is not available.' : '' }}"
        [value]="value"
        (valueChange)="onValueChange($event)"
        [disabled]="disabled"
        placeholder="property">
        <ng-container *ngFor="let property of favouriteProperties">
            <mat-option
                class="fcl-filter-select-option"
                [ngClass]="property.unavailable ? 'fcl-option-unsupported' : ''"
                matTooltip="{{ property.unavailable ? 'Data is not available.' : '' }}"
                [value]="property.id">
                {{ property.name }}
            </mat-option>
        </ng-container>
        <mat-option disabled>
            <hr>
        </mat-option>
        <ng-container *ngFor="let property of otherProperties">
            <mat-option
                class="fcl-filter-select-option"
                [ngClass]="property.unavailable ? 'fcl-option-unsupported' : ''"
                matTooltip="{{ property.unavailable ? 'Data is not available.' : '' }}"
                [value]="property.id">
                {{ property.name }}
            </mat-option>
        </ng-container>
        <mat-option
            *ngIf="isPropNotListed"
            class="fcl-filter-select-option"
            [value]="value">
            {{ value }}
        </mat-option>
    </mat-select>
</mat-form-field>
