@import '../../../../assets/sass/base';

.fcl-avatar-botton:hover,
.fcl-avatar-botton:active {
    color: $fcl-primary-hover;
}

.fcl-user-info {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        'icon name'
        ' . email';
    color: rgba(0, 0, 0, 0.7);
    font-size: smaller;
}

.fcl-icon {
    grid-area: icon;
    padding-left: 15px;
}

.fcl-name {
    grid-area: name;
}

.fcl-email {
    grid-area: email;
    padding-right: 1rem;
}
