<div mat-menu *ngIf="currentUser; else anonymous">
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu" [overlapTrigger]="false">
        <div class="fcl-user-info">
            <mat-icon class="fcl-icon">face</mat-icon>
            <span class="fcl-name">{{ currentUser.firstName }} {{ currentUser.lastName }}</span
            ><br />
            <span class="fcl-email">{{ currentUser.email }}</span>
        </div>

        <mat-divider></mat-divider>

        <div class="fcl-profile">
            <a mat-menu-item (click)="goToProfile()">
                <mat-icon>person</mat-icon>
                <span>Profile</span>
            </a>
            <mat-divider></mat-divider>
            <a mat-menu-item (click)="logout()">
                <mat-icon>power_settings_new</mat-icon>
                <span>Logout</span>
            </a>
        </div>
    </mat-menu>
</div>

<ng-template #anonymous>
    <a mat-button [routerLink]="['/users/login']">
        <mat-icon>exit_to_app</mat-icon>
        Login/Register
    </a>
</ng-template>
