<div class="fcl-new-highlighting-rule-container">

    <fcl-rule-name-view
        class="fcl-new-highlighting-rule-name-field"
        (ruleNameChange) = "onRuleNameChange($event)"
    >
    </fcl-rule-name-view>

    <div class="fcl-shape-and-color-fields">
        <fcl-shape-selector-view
            class="fcl-complex-filter-form-field fcl-font-size-08 fcl-action-highlighting-button"
            [availableShapeTypes]="availableShapeTypes"
            [value]="undefined"
            (valueChange)="onShapeChange($event)"
        ></fcl-shape-selector-view>

        <fcl-color-picker-view
            class="fcl-new-highlighting-rule-color-field fcl-action-highlighting-button"
            [color]="color"
            (colorChange)="onColorChange($event)"
        >
        </fcl-color-picker-view>
    </div>

    <fcl-complex-filter-view
        class="fcl-new-highlighting-rule-complex-filter"
        [conditions] = "complexFilterSettings"
        [availableProperties] = "dataColumns"
        [availableOperatorTypes] = "availableOperatorTypes"
        [propToValuesMap] = "propToValuesMap"
        (conditionsChange) = "onComplexFilterChange($event)"
    ></fcl-complex-filter-view>

    <div class="fcl-action-highlighting-button-container">
        <button
            mat-stroked-button
            class="fcl-action-highlighting-button"
            matTooltip="Apply condition"
            matTooltipPosition="above"
            color="primary"
            (click)="onApplyRule()"
            >
            <mat-icon>done</mat-icon>
            Apply
        </button>
        <button
            mat-stroked-button
            class="fcl-action-highlighting-button"
            matTooltip="Close dialogue"
            matTooltipPosition="above"
            color="primary"
            (click)="onCancelRule()"
            >
            <mat-icon>clear</mat-icon>
            Cancel
        </button>
        <button
            mat-stroked-button
            class="fcl-action-highlighting-button"
            matTooltip="Apply condition and close dialogue"
            matTooltipPosition="above"
            color="primary"
            (click)="onOkRule()"
            >
            <mat-icon>done</mat-icon>
            OK
        </button>
    </div>
</div>
