<div class="sidenav-elements">
    <mat-form-field>
        <mat-select placeholder="Node Size" [(ngModel)]="graphSettings.nodeSize" (ngModelChange)="setNodeSize()">
            <mat-option *ngFor="let size of sizes" [value]="size">
                {{ size }}
            </mat-option>
        </mat-select>
    </mat-form-field>
        <mat-form-field>
            <mat-select
              placeholder="Font Size"
              [(ngModel)]="graphSettings.fontSize"
              (ngModelChange)="setFontSize()">
              <mat-option *ngFor="let size of sizes" [value]="size">
                {{size}}
              </mat-option>
            </mat-select>
        </mat-form-field>

    <div class="sidenav-elements-group">
        <mat-form-field class="less-bottom-padding">
            <mat-select
              placeholder="Merge Deliveries"
              [(ngModel)]="graphSettings.mergeDeliveriesType"
              (ngModelChange)="setMergeDeliveriesType()">
              <mat-option *ngFor="let mergeDeliveriesOption of mergeDeliveriesOptions"
              [value]="mergeDeliveriesOption.value"
              [matTooltip]="mergeDeliveriesOption.toolTip" matTooltipPosition="right" matTooltipShowDelay="500" matTooltipClass="mytooltip">
                {{mergeDeliveriesOption.label}}
              </mat-option>
            </mat-select>
        </mat-form-field>

    <mat-checkbox
        [(ngModel)]="graphSettings.showMergedDeliveriesCounts"
        (ngModelChange)="showMergedDeliveriesCounts()">
        Show Merged Deliveries Counts
    </mat-checkbox>
</div>

    <mat-checkbox
          [(ngModel)]="graphSettings.showLegend"
          (ngModelChange)="showLegend()">
          Show Legend
        </mat-checkbox>

        <mat-checkbox
          [(ngModel)]="graphSettings.showZoom"
          (ngModelChange)="showZoom()">
          Show Zoom Controls
        </mat-checkbox>
</div>
