.fcl-tracing-container {
    flex: 1;
    height: 100%;
}

.toolbarSpan {
    flex: 1 1 auto;
}

#mainToolbar {
    z-index: 3;
}

#mainContainer {
    height: 100%;
    width: 100vw;
}

#mainContent {
    width: 100%;
    height: 100%;
}

.fcl-right-sidenav {
    display: flex;
    background-color: rgb(245, 245, 245);
    min-width: 25vw;
    max-width: 35vw;
}

#homeButton {
    font-size: 20px;
}

#fileInput {
    display: none;
}

fcl-schema-graph {
    width: 100%;
    height: 100%;
}

fcl-gis-graph {
    width: 100%;
    height: 100%;
}

fcl-table {
    min-width: calc(100% - 10px);
    flex: 1;
    display: flex;
    flex-direction: column;
}
