<div class="fcl-tracing-container">
    <mat-sidenav-container
        id="mainContainer"
        #mainContainer
        hasBackdrop="false"
    >
        <mat-sidenav-content class="mat-sidenav-content-container">
            <div id="mainContent">
                <fcl-schema-graph
                    #schemaGraph
                    [hidden]="(showSchemaGraph$ | async) === false"
                ></fcl-schema-graph>
                <fcl-gis-graph
                    #gisGraph
                    [hidden]="(showGisGraph$ | async) === false"
                ></fcl-gis-graph>
            </div>
        </mat-sidenav-content>

        <mat-sidenav
            class="fcl-right-sidenav"
            #rightSidenav
            position="end"
            mode="over"
            disableClose="true"
            [opened]="showConfigurationSideBar$ | async"
            (openedChange)="onConfigurationSideBarOpened()"
        >
            <fcl-configuration></fcl-configuration>
        </mat-sidenav>
    </mat-sidenav-container>
</div>
