<div class="fcl-tracing-container">
    <mat-sidenav-container
        id="mainContainer"
        #mainContainer
        hasBackdrop="false"
    >
        <mat-sidenav-content class="mat-sidenav-content-container">
            <div id="mainContent">
                <div class="fcl-graph-empty" *ngIf="!isGraphNonEmpty()">
                    <img
                        class="fcl-logo-soft"
                        mat-card-image
                        src="../../assets/fcl_logo_soft_transparent.svg"
                        alt="FCL logo"
                    />
                    <h2>Welcome to FCL Web!</h2>
                    <p>
                        Let's get started by loading an example dataset or
                        uploading your own data.
                    </p>
                </div>
                <fcl-schema-graph
                    #schemaGraph
                    [hidden]="(showSchemaGraph$ | async) === false"
                ></fcl-schema-graph>
                <fcl-gis-graph
                    #gisGraph
                    [hidden]="(showGisGraph$ | async) === false"
                ></fcl-gis-graph>
            </div>
        </mat-sidenav-content>

        <mat-sidenav
            class="fcl-right-sidenav"
            #rightSidenav
            position="end"
            mode="over"
            disableClose="true"
            [opened]="showConfigurationSideBar$ | async"
            (openedChange)="onConfigurationSideBarOpened()"
        >
            <fcl-configuration></fcl-configuration>
        </mat-sidenav>
    </mat-sidenav-container>
</div>
