.fcl-tracing-container {
    flex: 1;
    height: 100%;
}

.toolbarSpan {
    flex: 1 1 auto;
}

#mainToolbar {
    z-index: 3;
}

#mainContainer {
    height: 100%;
    width: 100vw;
}

#mainContent {
    width: 100%;
    height: 100%;
}

.fcl-left-sidenav {
    background-color: rgb(245, 245, 245);
    z-index: 2;
}

#rightSidenav {
    background-color: rgb(245, 245, 245);
    min-width: 520px;
    height: 100%;
    z-index: 2;
}

#rightSidenavContent {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: stretch;
}

#sidenavSlider {
    width: 10px;
    height: 100%;
    cursor: ew-resize;
    background-color: rgb(200, 200, 200);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#sidenavSliderCenter {
    height: 50px;
    background-color: rgb(100, 100, 100);
}

#homeButton {
    font-size: 20px;
}

#fileInput {
    display: none;
}

fcl-schema-graph {
    width: 100%;
    height: 100%;
}

fcl-gis-graph {
    width: 100%;
    height: 100%;
}

fcl-table {
    min-width: calc(100% - 10px);
    flex: 1;
    display: flex;
    flex-direction: column;
}
