<div class="sidenav-elements">
    <mat-radio-group
        [(ngModel)]="tableSettings.mode"
        (ngModelChange)="setTableMode()">
        <mat-radio-button *ngFor="let mode of tableModes" [value]="mode">
        {{mode}}
        </mat-radio-button>
    </mat-radio-group>
    <button
        mat-raised-button
        (click)="changeColumns()">
        Change Columns
    </button>
    <mat-form-field>
        <mat-select
        placeholder="Show Type"
        [(ngModel)]="tableSettings.showType"
        (ngModelChange)="setTableShowType()">
            <mat-option *ngFor="let showType of showTypes" [value]="showType">
                {{showType}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
