<div id="container">
    <mat-expansion-panel id="tableSettings">
        <mat-expansion-panel-header>
            <mat-panel-title>
            Table Settings
            </mat-panel-title>
        </mat-expansion-panel-header>
        <fcl-table-settings></fcl-table-settings>
    </mat-expansion-panel>
    <div id="optionsBar">
        <button mat-raised-button (click)="onSelectAll()">Select All</button>
        <mat-form-field>
            <input matInput [(ngModel)]="filter" (ngModelChange)="onFilterChange()" placeholder="Filter">
        </mat-form-field>
    </div>
    <div id="dataTableContainer">

        <ngx-datatable
            #table
            [columns]="columns"
            [rows]="rows"
            [rowClass]="getRowClass"
            scrollbarV="true"
            scrollbarH="true"
            [ngStyle]="style"
            headerHeight="50"
            class="graph-table material"
        >
        </ngx-datatable>

        <ng-template #selectTmpl let-row="row" let-value="value" let-i="index">
            <mat-checkbox [(ngModel)]="row.selected" (ngModelChange)="onSelect(row)" color="primary">
            </mat-checkbox>
        </ng-template>
    </div>
</div>
