@import '../../../../assets/sass/base';

.fcl-datatable-container {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.fcl-datatable {
    flex: 1;
    display: flex;
    flex-direction: column;
    box-shadow: $fcl-box-shadow;
}

.datatable-header-cell-label {
    font-size: 0.9rem;
    color: rgb(0, 0, 0);
    font-weight: 800;
}

.fcl-datatable .datatable-body-cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.datatable-body-cell-label {
    font-size: 0.8rem;
    font-weight: 500;
    color: rgb(0, 0, 0);
}

.fcl-more-columns-button {
    border: none;
    height: 100%;
    padding: 0;
    width: 20px;
}

.fcl-more-columns-button .fcl-more-columns-icon {
    width: 100%;
}

.fcl-more-columns-button:hover {
    background-color: $fcl-accent-300 !important;
    color: rgba(255, 255, 255, 0.9);
}

.fcl-more-columns-button:focus {
    outline: 0;
}

.fcl-more-column-row-cell {
    padding: 0 !important;
}

.datatable-header-cell.fcl-more-columns-header-cell {
    padding: 0 !important;
    display: flex !important;
    color: blue !important;
}
