@import '../../../../assets/sass/base';

.fcl-datatable-container {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.fcl-datatable {
    flex: 1;
    display: flex;
    flex-direction: column;
    box-shadow: $fcl-box-shadow;
}

.fcl-datatable .datatable-header .datatable-header-inner {
    height: 100%;
}

.fcl-datatable .datatable-row-center .datatable-header-cell {
    padding-top: 0.4rem !important;
    padding-bottom: 0.4rem !important;
}

.fcl-datatable .datatable-header-cell-label,
.fcl-datatable .datatable-header-cell-template-wrap {
    font-size: 0.9rem;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
}

.fcl-datatable .datatable-row-center .datatable-header-cell .datatable-header-cell-template-wrap {
    height: 100% !important;
}

.fcl-column-filter-field .mat-form-field-wrapper {
    padding: 0;
    margin: 0;
}

.fcl-column-filter-field .mat-form-field-wrapper .mat-form-field-infix {
    border: none;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

.fcl-column-filter-field .mat-form-field-wrapper .mat-form-field-flex {
    padding-right: 0;
}

.fcl-column-filter-field .mat-form-field-outline-start,
.fcl-column-filter-field .mat-form-field-outline-end {
    border-radius: 0;
    border-color: $fcl-accent-100;
}

.fcl-column-filter-field-icon {
    color: $fcl-accent-200;
    transform: scale(0.8);
}

.fcl-datatable .datatable-row-center .datatable-header-cell .datatable-header-cell-template-wrap .fcl-column-filter-field {
    font-size: 0.8rem;
}

.fcl-datatable .datatable-body-cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.fcl-datatable .datatable-body-cell-label {
    font-size: 0.8rem;
    font-weight: 500;
    color: rgb(0, 0, 0);
}

.fcl-more-columns-button {
    border: none;
    height: 100%;
    padding: 0;
    width: 20px;
    background-color: $fcl-accent-100 !important;
}

.fcl-more-columns-button .fcl-more-columns-icon {
    width: 100%;
}

.fcl-more-columns-button:hover {
    background-color: $fcl-accent-300 !important;
    color: rgba(255, 255, 255, 0.9);
}

.fcl-more-columns-button:focus {
    outline: 0;
}

.fcl-more-column-row-cell {
    padding: 0 !important;
    background-color: rgb(255, 255, 255);
}

.fcl-datatable .datatable-header-cell.fcl-more-columns-header-cell {
    padding: 0 !important;
    display: flex !important;
    height: 100%;
}

.fcl-datatable .datatable-icon-expand {
    color: $fcl-accent-200;
}

.fcl-datatable .datatable-header-cell-template-wrap > span.datatable-icon-up::before,
.fcl-datatable .datatable-header-cell-template-wrap > span.datatable-icon-down::before {
    display: none;
}
