@use '../../../../assets/sass/base' as fcl;

.fcl-anonymous-button {
    border-radius: 0;
    background-color: rgb(255 255 255);
    box-shadow: fcl.$fcl-box-shadow;
    width: 100%;
}

.fcl-anonymous-button:hover {
    background-color: fcl.$fcl-accent-300;
    color: rgb(255 255 255 / 0.9);
}
