<div class="container" layout="row" flex>
    <md-sidenav class="md-whiteframe-4dp" md-is-locked-open="true">
        <table-settings show-trace-only="$ctrl.showTraceOnly" on-change="$ctrl.onChange(property, value)"></table-settings>
    </md-sidenav>
    <md-content flex>
        <md-table-container>
            <table md-table>
                <thead md-head md-order="$ctrl.order">
                    <tr md-row>
                        <th md-column md-order-by="data.id"><span>ID</span></th>
                        <th md-column md-order-by="data.source"><span>Source</span></th>
                        <th md-column md-order-by="data.target"><span>Target</span></th>
                        <th md-column md-order-by="data.score"><span>Score</span></th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row ng-repeat="delivery in $ctrl.deliveries | orderBy: $ctrl.order" ng-class="delivery.data.forward || delivery.data.backward ? 'green' : ''">
                        <td md-cell>{{delivery.data.id}}</td>
                        <td md-cell>{{delivery.data.source}}</td>
                        <td md-cell>{{delivery.data.target}}</td>
                        <td md-cell>{{delivery.data.score}}</td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
    </md-content>
</div>
