<div class="fcl-login-item fcl-login-container">
    <mat-card class="fcl-mat-card fcl-mat-card-container">
        <mat-card-header class="fcl-mat-card-header">
            <div class="mat-headline">Login</div>
            <mat-divider></mat-divider>
        </mat-card-header>

        <mat-card-content>
            <form [formGroup]="loginForm" (ngSubmit)="login()">
                <div class="fcl-mat-card-content">
                    <div class="form-group fcl-form-email">
                        <mat-form-field class="fcl-form-field" appearance="standard">
                            <mat-label>Email</mat-label>
                            <input matInput formControlName="email" name="email" required />
                            <mat-icon matPrefix>mail</mat-icon>
                            <mat-error *ngIf="loginForm.controls.email.invalid">{{ getEmailErrorMessage() }}</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="form-group">
                        <mat-form-field class="fcl-form-field" appearance="standard">
                            <mat-label>Password</mat-label>
                            <input matInput formControlName="password" type="password" name="password" required />
                            <mat-icon matPrefix>lock</mat-icon>
                            <mat-error *ngIf="loginForm.controls.password.invalid">{{ getPasswordErrorMessage() }}</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="fcl-card-action fcl-card-action-container">
                        <div class="form-group">
                            <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">
                                Login
                            </button>
                        </div>
                        <div>
                            <a mat-button [routerLink]="['/users/register']">
                                Register
                            </a>
                        </div>
                        <div class="form-group">
                            <a mat-button [routerLink]="['/users/recovery']">
                                Password forgotten?
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>
