.fcl-graph {
    height: 100%;
}

.fcl-graph-zoom {
    position: absolute;
    top: 40px;
    left: 12px;
    user-select: none;
}

.fcl-graph-empty {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
