<div class="fcl-graph-empty" *ngIf="!isGraphNonEmpty()">
    <img
        class="fcl-logo-soft"
        mat-card-image
        src="../../assets/fcl_logo_soft_transparent.svg"
        alt="FCL logo"
    />
    <h2>Welcome to FCL Web!</h2>
    <p>
        Let's get started by loading an example dataset or uploading your own
        data.
    </p>
</div>

<div
    fclResizeSensor
    (resized)="onComponentResized()"
    [ignoreNonPositiveResize]="true"
    [ignoreWindowResize]="true"
    class="fcl-graph"
    #graph
></div>

<fcl-zoom-view
    class="fcl-graph-zoom"
    data-html2canvas-ignore="true"
    *ngIf="showZoom"
    [zoomValue]="zoomPercentage"
    (zoomIn)="onZoomIn()"
    (zoomOut)="onZoomOut()"
    (zoomReset)="onZoomFit()"
    (zoomSlided)="onZoomSlide($event)"
>
</fcl-zoom-view>

<fcl-created-image-view></fcl-created-image-view>
