@use '../../../../assets/sass/base' as fcl;

.fcl-filtertable-container {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
}

.fcl-filtertable {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    box-shadow: fcl.$fcl-box-shadow;
}

.fcl-filtertable .datatable-header .datatable-header-inner {
    height: 100%;
}

.fcl-filtertable .datatable-row-center .datatable-header-cell {
    padding-top: 0.4rem !important;
    padding-bottom: 0.4rem !important;
}

.fcl-filtertable .datatable-row-center .datatable-header-cell.sortable {
    cursor: pointer;
}

.fcl-filtertable .datatable-header-cell-label,
.fcl-filtertable .datatable-header-cell-template-wrap {
    font-size: 0.9rem;
    color: rgb(0 0 0);
    display: flex;
    flex-direction: column;
}

.fcl-filtertable .datatable-row-center .datatable-header-cell .datatable-header-cell-template-wrap {
    height: 100% !important;
}

.fcl-column-filter-field .mat-form-field-wrapper {
    padding: 0;
    margin: 0;
}

.fcl-column-filter-field .mat-form-field-wrapper .mat-form-field-infix {
    border: none;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

.fcl-column-filter-field .mat-form-field-wrapper .mat-form-field-flex {
    padding-right: 0;
}

.fcl-column-filter-field .mat-form-field-outline-start,
.fcl-column-filter-field .mat-form-field-outline-end {
    border-radius: 0;
    border-color: fcl.$fcl-accent-100;
}

.fcl-column-filter-field-icon {
    color: fcl.$fcl-accent-200;
    transform: scale(0.8);
}

.fcl-filtertable .datatable-row-center .datatable-header-cell .datatable-header-cell-template-wrap .fcl-column-filter-field {
    font-size: 0.8rem;
}

.fcl-filtertable .datatable-body-cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.fcl-filtertable .datatable-body-cell-label {
    font-size: 0.8rem;
    font-weight: 500;
    color: rgb(0 0 0);
    display: flex;
    align-items: center;
}

.fcl-filtertable .fcl-invisible-data-row-cell {
    flex: 1;
}

.fcl-filtertable .fcl-visibility-column-row-cell {
    padding: 0.1rem 0 0 0.5rem !important;
}

.fcl-more-columns-button {
    border: none;
    height: 100%;
    padding: 0;
    width: 20px;
    background-color: fcl.$fcl-accent-100 !important;
}

.fcl-more-columns-button .fcl-more-columns-icon {
    width: 100%;
}

.fcl-more-columns-button:hover {
    background-color: fcl.$fcl-accent-300 !important;
    color: rgb(255 255 255 / 0.9);
    cursor: pointer;
}

.fcl-more-columns-button:focus {
    outline: 0;
}

.fcl-more-column-row-cell {
    padding: 0 !important;
    background-color: rgb(255 255 255);
}

.fcl-filtertable .datatable-header-cell.fcl-more-columns-header-cell {
    padding: 0 !important;
    height: 100%;
}

.fcl-filtertable .datatable-icon-expand {
    color: fcl.$fcl-accent-200;
}

.fcl-filtertable .datatable-header-cell-template-wrap > span.datatable-icon-up::before,
.fcl-filtertable .datatable-header-cell-template-wrap > span.datatable-icon-down::before {
    display: none;
}

.fcl-filtertable .datatable-header-cell.fcl-visibility-column-header-cell {
    padding-left: 0.1rem !important;
    padding-right: 0.1rem !important;
}

.fcl-filtertable .fcl-column-visibility-header-icon-container {
    margin-top: 0.25rem;
}

.fcl-filtertable .fcl-column-visibility-header-sort-icon {
    font-size: 0.8rem;
}

.fcl-filtertable .fcl-column-visibility-header-icon {
    font-size: 1rem;
}

.fcl-filtertable .pointable {
    cursor: pointer;
}

.fcl-filtertable .fcl-column-visibility-header-icon.unsorted {
    color: fcl.$fcl-accent-200;
}

.fcl-filtertable .fcl-visibility-filter-button {
    height: 1.5rem;
    border: 1px solid fcl.$fcl-accent-100;
    padding: 0;
    background-color: rgb(255 255 255);
    margin-top: 2px;
    justify-content: center;
}

.fcl-filtertable .fcl-visibility-filter-button:hover {
    background-color: fcl.$fcl-accent-300;
}

.fcl-filtertable .fcl-visibility-filter-button:focus {
    outline: 0;
}

.fcl-filtertable .fcl-row-cell-invisible .datatable-body-cell-label {
    color: fcl.$fcl-accent-200;
}

.fcl-filtertable .fcl-row-symbol {
    display: flex;
    align-items: center;
}

.fcl-filtertable .fcl-row-symbol svg {
    height: 1rem;
}

.fcl-filtertable .fcl-row-symbol svg polygon,
.fcl-filtertable .fcl-row-symbol svg circle,
.fcl-filtertable .fcl-row-symbol svg rect {
    transform: scale(0.9);
}

.fcl-filtertable .fcl-row-symbol.fcl-invisible-data-row-cell svg polygon,
.fcl-filtertable .fcl-row-symbol.fcl-invisible-data-row-cell svg circle,
.fcl-filtertable .fcl-row-symbol.fcl-invisible-data-row-cell svg rect {
    transform: scale(0.9);
    stroke: rgb(211 211 211);
}

.fcl-tree-action-icon {
    margin-left: 10px;
    vertical-align: middle;
}

.fcl-font-style-italic {
    font-style: italic;
}

.ngx-datatable.fcl-filtertable.material {
    &.single-selection,
    &.multi-selection,
    &.multi-click-selection {
        .datatable-body-row {
            &.active,
            &.active .datatable-row-group {
                .datatable-body-cell-label .fcl-tree-action-icon {
                    color: rgb(0 0 0);
                }

                .fcl-row-cell-invisible {
                    .datatable-body-cell-label {
                        color: fcl.$fcl-accent-200;
                    }
                }
            }
        }
    }
}

.fcl-textfilter-header-cell {
    display: flex;
    flex-direction: column;
}
