<ng-template #buttonColTpl let-column="column">
    <fcl-opensettings-header-cell-view
        class="fcl-more-columns-button"
        (click)="onSelectColumns()"
    >
    </fcl-opensettings-header-cell-view>
</ng-template>

<ng-template
    #patternColTpl
    let-column="column"
    let-sort="sortFn"
    let-sortDir="sortDir"
>
    <fcl-symbol-header-cell-view
        class="fcl-textfilter-header-cell"
        [sortDir]="sortDir"
        (sort)="sort()"
    ></fcl-symbol-header-cell-view>
</ng-template>

<ng-template
    #visibilityColTpl
    let-column="column"
    let-sort="sortFn"
    let-sortDir="sortDir"
>
    <fcl-visibilityfilter-header-cell-view
        class="fcl-textfilter-header-cell"
        [sortDir]="sortDir"
        [showVisibleElements]="showVisibleElements"
        [showInvisibleElements]="showInvisibleElements"
        (sort)="sort()"
        (toggleFilterState)="onToggleVisibilityFilterState()"
    ></fcl-visibilityfilter-header-cell-view>
</ng-template>

<ng-template
    #dataColTpl
    let-column="column"
    let-sort="sortFn"
    let-sortDir="sortDir"
>
    <fcl-textfilter-header-cell-view
        class="fcl-textfilter-header-cell"
        [column]="column"
        [sortDir]="sortDir"
        [filterText]="getColumnFilterText(column.prop)"
        (sort)="sort()"
        (filterChange)="onSetColumnFilterText(column.prop, $event)"
    >
    </fcl-textfilter-header-cell-view>
</ng-template>

<ng-template #treeRowTpl let-row="row" let-value="value">
    <fcl-collapse-status-cell-view
        [status]="row.treeStatus"
        (toggleStatus)="onTreeAction(row)"
    ></fcl-collapse-status-cell-view>
</ng-template>

<ng-template #patternRowTpl let-row="row" let-value="value">
    <fcl-symbol-cell-view [row]="row"></fcl-symbol-cell-view>
</ng-template>

<ng-template #visibilityRowTpl let-row="row" let-value="value">
    <fcl-visibility-cell-view [row]="row"></fcl-visibility-cell-view>
</ng-template>

<ng-template
    #dataRowTpl
    let-row="row"
    let-column="column"
    let-value="value"
    let-i="index"
    let-prop="prop"
>
    <fcl-row-cell-view [value]="value"></fcl-row-cell-view>
</ng-template>

<div class="fcl-filtertable-container" #tableWrapper>
    <ngx-datatable
        fclNgxDatatableRowEventProvider
        (rowOver)="onRowOver($event)"
        (rowDblClick)="onRowDblClick($event)"
        fclNgxDatatableScrollFix
        [activityState$]="activityState$"
        [cycleStart$]="cycleStart$"
        #table
        class="material fcl-datatable fcl-filtertable"
        [columns]="columns"
        [sorts]="sorts"
        (sort)="onSort($event)"
        externalSorting="true"
        [rows]="tableRows"
        [rowHeight]="18"
        scrollbarV="true"
        scrollbarH="true"
        [swapColumns]="false"
        (reorder)="onColumnReorder($event)"
        [headerHeight]="60"
        [footerHeight]="50"
        [treeFromRelation]="useTreeMode ? 'parentRowId' : undefined"
        [treeToRelation]="'id'"
        [selected]="selectedRows"
        [selectionType]="selectionType"
        [rowIdentity]="rowIdentity"
        (select)="onRowSelectionChange($event)"
    ></ngx-datatable>
</div>
