@use "material-icons/iconfont/filled";

.mat-tooltip {
    font-size: 14px !important;
    white-space: pre-line;
    word-break: break-word;
}

.mat-toolbar {
    min-height: 56px !important;
}

.mat-toolbar-row {
    height: 56px !important;
}

.mat-card {
    padding: 18px !important;
}

.mat-card-title {
    font-size: 18px !important;
}

.mat-menu-item {
    font-size: 14px !important;
    font-weight: 500;
    height: 40px !important;
    line-height: 40px !important;
}

.mat-sidenav {
    box-shadow: none !important;
    border-left: 1px solid rgb(0 0 0 / 0.4) !important;
    border-right: 1px solid rgb(0 0 0 / 0.4) !important;
}

.snackbar-error {
    background-color: #c62828 !important;
    font-weight: 500 !important;

    .mat-button-wrapper {
        color: white !important;
    }
}

.snackbar-success {
    background-color: #c8e6c9 !important;
    color: black !important;
}

.snackbar-warn {
    background-color: rgb(255 221 0) !important;
    color: black !important;
}

.snackbar-info {
    background-color: #bbdefb !important;
    color: black !important;
}
