@use 'node_modules/@swimlane/ngx-datatable/themes/material.scss';
@use 'src/assets/sass/base' as fcl;
@use 'sass:map';

ngx-datatable {
    background: rgb(255 255 255);
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.12), 0 1px 2px 0 rgb(0 0 0 / 0.24);
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.fcl-datatable {
    .datatable-header-cell {
        // switch of default sort icons
        .datatable-icon-up::before {
            content: "";
        }

        .datatable-icon-down::before {
            content: "";
        }

        .datatable-icon-sort-unset::before {
            content: "";
        }

        .fcl-header-sort-span {
            // switch on sort icons
            .datatable-icon-up::before {
                content: "\65";
            }

            .datatable-icon-down::before {
                content: "\66";
            }

            .datatable-icon-sort-unset::before {
                content: "\63";
            }
        }
    }

    &.material {
        &.single-selection,
        &.multi-selection,
        &.multi-click-selection {
            .datatable-body-row {
                &.active,
                &.active .datatable-row-group {
                    background-color: fcl.$fcl-primary-color;

                    .datatable-body-cell-label {
                        color: white;
                    }
                }

                &.active:hover,
                &.active:hover .datatable-row-group {
                    background-color: map.get(fcl.$fcl-blue, 700);
                }
            }
        }
    }
}
