@import '~normalize.css/normalize.css';
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
@import '~ol/ol.css';
@import 'assets/sass/base';
@import 'material-style';
@import 'ngx-datatable-style';

@include mat-core($fcl-typography);
@include angular-material-theme($fcl-theme);

body {
    font-family: $fcl-font-family;
}

*,
::before,
::after {
    box-sizing: border-box;
}

.mat-tooltip.mytooltip {
    font-size: 16px;
}

.mytooltip {
    font-size: 16px;
}

.snackbar-error {
    background-color: #c62828;
    font-weight: 500;
}

.snackbar-success {
    background-color: #c8e6c9;
    color: black;
}

.snackbar-warn {
    background-color: #fff9c4;
    color: black;
}

.snackbar-info {
    background-color: #bbdefb;
    color: black;
}

mat-form-field.less-bottom-padding {
    .mat-form-field-wrapper {
        padding-bottom: 0.5em;
    }

    .mat-form-field-underline {
        bottom: 0.5em;
    }
}
