/* You can add global styles to this file, and also import other style files */
@import "~material-design-icons/iconfont/material-icons.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@swimlane/ngx-datatable/release/index.css";
@import "~@swimlane/ngx-datatable/release/assets/icons.css";
@import "./app/table/ngx-datatable-style.css";

body {
  margin: 0;
  overflow: hidden;
}

md-card {
  padding: 18px !important;
}

md-card-title {
  font-size: 18px !important;
}
