<div id="graphContainer">
  <div id="cy" style="display: flex; width: 100%; height: 100%;"></div>
</div>
<div id="cy-menu" style="position: fixed;" [mdMenuTriggerFor]="cyMenu"></div>
<md-menu #cyMenu>
  <ng-container *ngFor="let action of menuActions">
    <button md-menu-item *ngIf="!action.openLayoutMenu" (click)="action.action()">{{action.text}}</button>
    <button md-menu-item *ngIf="action.openLayoutMenu" [mdMenuTriggerFor]="layoutMenu">{{action.text}}</button>
  </ng-container>
</md-menu>
<md-menu #layoutMenu>
  <button md-menu-item *ngFor="let action of layoutMenuActions" (click)="action.action()">{{action.text}}</button>
</md-menu>
