<div id="graphContainer">
  <div id="cy"></div>
</div>
<div id="graphMenu" class="menuTrigger" [mdMenuTriggerFor]="graphMenu" #graphMenuTrigger="mdMenuTrigger"></div>
<div id="stationMenu" class="menuTrigger" [mdMenuTriggerFor]="stationMenu" #stationMenuTrigger="mdMenuTrigger"></div>
<div id="deliveryMenu" class="menuTrigger" [mdMenuTriggerFor]="deliveryMenu" #deliveryMenuTrigger="mdMenuTrigger"></div>
<div id="layoutMenu" class="menuTrigger" [mdMenuTriggerFor]="layoutMenu" #layoutMenuTrigger="mdMenuTrigger"></div>
<div id="traceMenu" class="menuTrigger" [mdMenuTriggerFor]="traceMenu" #traceMenuTrigger="mdMenuTrigger"></div>
<md-menu #graphMenu>
  <button md-menu-item *ngFor="let action of graphMenuActions"
          [disabled]="!action.enabled" (click)="action.action($event)">
    {{action.name}}
  </button>
</md-menu>
<md-menu #stationMenu>
  <button md-menu-item *ngFor="let action of stationMenuActions"
          [disabled]="!action.enabled" (click)="action.action($event)">
    {{action.name}}
  </button>
</md-menu>
<md-menu #deliveryMenu>
  <button md-menu-item *ngFor="let action of deliveryMenuActions"
          [disabled]="!action.enabled" (click)="action.action($event)">
    {{action.name}}
  </button>
</md-menu>
<md-menu #layoutMenu>
  <button md-menu-item *ngFor="let action of layoutMenuActions"
          [disabled]="!action.enabled" (click)="action.action($event)">
    {{action.name}}
  </button>
</md-menu>
<md-menu #traceMenu>
  <button md-menu-item *ngFor="let action of traceMenuActions"
          [disabled]="!action.enabled" (click)="action.action($event)">
    {{action.name}}
  </button>
</md-menu>
