<div id="graphContainer">
  <div id="cy"></div>
</div>
<div id="graphMenu" class="menuTrigger" [mdMenuTriggerFor]="graphMenu" #graphMenuTrigger="mdMenuTrigger"></div>
<div id="stationMenu" class="menuTrigger" [mdMenuTriggerFor]="stationMenu" #stationMenuTrigger="mdMenuTrigger"></div>
<div id="deliveryMenu" class="menuTrigger" [mdMenuTriggerFor]="deliveryMenu" #deliveryMenuTrigger="mdMenuTrigger"></div>
<md-menu #graphMenu>
  <ng-container *ngFor="let action of graphMenuActions">
    <button md-menu-item *ngIf="action.type == actionTypes.runAction"
            [disabled]="!action.enabled" (click)="action.action()">
      {{action.name}}
    </button>
    <button md-menu-item *ngIf="action.type == actionTypes.openLayoutMenu"
            [disabled]="!action.enabled" [mdMenuTriggerFor]="layoutMenu">
      {{action.name}}
    </button>
  </ng-container>
</md-menu>
<md-menu #stationMenu>
  <ng-container *ngFor="let action of stationMenuActions">
    <button md-menu-item *ngIf="action.type == actionTypes.runAction"
            [disabled]="!action.enabled" (click)="action.action()">
      {{action.name}}
    </button>
    <button md-menu-item *ngIf="action.type == actionTypes.openTraceMenu"
            [disabled]="!action.enabled" [mdMenuTriggerFor]="traceMenu">
      {{action.name}}
    </button>
  </ng-container>
</md-menu>
<md-menu #deliveryMenu>
  <ng-container *ngFor="let action of deliveryMenuActions">
    <button md-menu-item *ngIf="action.type == actionTypes.runAction"
            [disabled]="!action.enabled" (click)="action.action()">
      {{action.name}}
    </button>
    <button md-menu-item *ngIf="action.type == actionTypes.openTraceMenu"
            [disabled]="!action.enabled" [mdMenuTriggerFor]="traceMenu">
      {{action.name}}
    </button>
  </ng-container>
</md-menu>
<md-menu #layoutMenu>
  <ng-container *ngFor="let action of layoutMenuActions">
    <button md-menu-item *ngIf="action.type == actionTypes.runAction"
            [disabled]="!action.enabled" (click)="action.action()">
      {{action.name}}
    </button>
  </ng-container>
</md-menu>
<md-menu #traceMenu>
  <ng-container *ngFor="let action of traceMenuActions">
    <button md-menu-item *ngIf="action.type == actionTypes.runAction"
            [disabled]="!action.enabled" (click)="action.action()">
      {{action.name}}
    </button>
  </ng-container>
</md-menu>
