/*noinspection CssUnusedSymbol*/
#cy-zoom {
  z-index: 10;
  color: rgb(102, 102, 102);
  user-select: none !important;
}

/*noinspection CssUnusedSymbol*/
#cy-zoom-in, #cy-zoom-out, #cy-zoom-reset {
  position: absolute;
  left: 16px;
  width: 24px;
  height: 24px;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(153, 153, 153);
  cursor: pointer;
}

/*noinspection CssUnusedSymbol*/
#cy-zoom-in:active, #cy-zoom-out:active, #cy-zoom-reset:active,
#cy-zoom-slider-handle:active, #cy-zoom-slider-handle.active {
  background: rgb(221, 221, 221);
}

/*noinspection CssUnusedSymbol*/
#cy-zoom-in {
  top: 53px;
}

/*noinspection CssUnusedSymbol*/
#cy-zoom-out {
  top: 179px;
}

/*noinspection CssUnusedSymbol*/
#cy-zoom-reset {
  top: 20px;
}

/*noinspection CssUnusedSymbol*/
#cy-zoom-slider {
  position: absolute;
  top: 78px;
  left: 20px;
  width: 18px;
  height: 100px;
}

/*noinspection CssUnusedSymbol*/
#cy-zoom-slider-background {
  position: absolute;
  left: 7px;
  width: 2px;
  height: 100px;
  background: #fff;
  border: 1px solid rgb(153, 153, 153);
}

/*noinspection CssUnusedSymbol*/
#cy-zoom-slider-handle {
  position: absolute;
  z-index: 2;
  width: 16px;
  height: 8px;
  background: #fff;
  border: 1px solid rgb(153, 153, 153);
}

/*noinspection CssUnusedSymbol*/
#cy-zoom-no-zoom-tick {
  position: absolute;
  z-index: 1;
  left: 4px;
  width: 8px;
  height: 2px;
  background: rgb(102, 102, 102);
  border: 1px solid #fff;
}
