<fcl-toolbar-action
    class="fcl-toolbar-action-item fcl-toolbar-action-container"
    [tracingActive]="tracingActive$ | async"
    [graphSettings]="graphSettings"
    [hasGisInfo]="hasGisInfo"
    [availableMapTypes]="availableMapTypes"
    [graphEditorActive]="graphEditorActive$ | async"
    [currentUser]="currentUser$ | async"
    [fileName]="fileName$ | async"
    (loadModelFile)="loadModelFile($event)"
    (selectModelFile)="onSelectModelFile($event)"
    (saveImage)="onSaveImage()"
    (openRoaLayout)="onOpenRoaLayout()"
    (loadExampleDataFile)="onLoadExampleDataFile($event)"
    (graphType)="setGraphType($event)"
    (mapType)="setMapType($event)"
    (loadShapeFile)="onLoadShapeFile($event)"
    (downloadFile)="onDownloadFile($event)">
</fcl-toolbar-action>
