<div class="fcl-button-container">

    <button
        mat-stroked-button
        matTooltip="Add conditions for graph selection"
        matTooltipPosition="above"
        color="accent"
        (click)="onAddSelectionClick()"
    >
        Add selection
    </button>

    <button
        mat-stroked-button
        matTooltip="Remove conditions for graph selection"
        matTooltipPosition="above"
        color="accent"
        (click)="onRemoveSelectionClick()"
    >
        Remove Selection
    </button>
</div>
