<div class="fcl-filter-station-layout-container">

    <div class="fcl-standard-filter">
        <ng-template
            [ngTemplateOutlet]="standardFilterTemplate">
        </ng-template>
    </div>

    <mat-expansion-panel
        class="fcl-more-filter fcl-border-radius-zero"
        color="primary"
        (opened)="moreFilterOpenState = true"
        (closed)="moreFilterOpenState = false">

        <mat-expansion-panel-header>
          <mat-panel-title class="fcl-font-size-08">
            More Filters... click  to {{ moreFilterOpenState ?  'close' : 'open' }}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div>
            <ng-template
                [ngTemplateOutlet]="predefinedFilterTemplate">
            </ng-template>
        </div>

        <mat-expansion-panel
            class="fcl-border-radius-zero"
            (opened)="complexFilterOpenState = true"
            (closed)="complexFilterOpenState = false">

            <mat-expansion-panel-header
                class="fcl-expansion-panel-header">
                <mat-panel-title class="fcl-font-size-08">
                    Complex Filters... click  to {{ complexFilterOpenState ?  'close' : 'open' }}
                </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="fcl-complex-filter-div">
                <ng-template
                    [ngTemplateOutlet]="complexFilterTemplate">
                </ng-template>
            </div>

        </mat-expansion-panel>

    </mat-expansion-panel>

    <div class="fcl-station-table-container">
        <ng-template
            [ngTemplateOutlet]="stationTableTemplate">
        </ng-template>
    </div>

</div>


