@use '../../../../assets/sass/base' as fcl;

.fcl-deliveries-properties-table {
    width: 800px;
    height: 455px;

    .pointable {
        cursor: pointer;
    }

    .datatable-icon-expand {
        color: fcl.$fcl-accent-200;
    }
}

.overall-column-filter {
    width: 80%;
}

.datatable-footer-inner {
    height: 50px;
}

.fcl-header-sort-span {
    color: black;
}

.mat-option {
    height: 25px !important;
    font-size: 12px !important;
}

.highlighting-div {
    width: 30px;
    height: 20px;
}

.highlighting-column {
    text-align: center;
}
