.fcl-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;

    /* Please note: 
        Header and footer contain components using mat-toolbar styles, setting the height of these components.
        We therefore need to use auto here rather than a fraction as a row height value, as the child components
        (row content) will not grow with their parent (row), resulting in excess white space on large screens.
    */
    grid-template-areas:
        "head"
        "body"
        "footer";
    height: 100vh;
}

.fcl-page-header-item {
    grid-area: head;
}

.fcl-page-footer-item {
    grid-area: footer;
}

.fcl-page-header-item,
.fcl-page-footer-item {
    z-index: 999;
}

.fcl-page-header-container,
.jam-page-footer-container {
    display: flex;
}

.fcl-page-header-container {
    min-width: 1296px;
}

.fcl-page-body-item {
    grid-area: body;
    overflow: auto;
}

.fcl-page-body-container {
    display: flex;
}
