@use '~@angular/material' as mat;
@use '../../../../assets/sass/base' as fcl;

.fcl-toolbar-item {
    flex: 1;

    @include mat.elevation(fcl.$fcl-toolbar-elevation);
}

.fcl-toolbar-container {
    display: flex;
    justify-content: space-between;
}
