@import '~@angular/material/theming';
@import './themes';

$fcl-typography: mat-typography-config(
    $font-family: $fcl-font-family
);

$fcl-toolbar-padding: 5px;
$fcl-toolbar-elevation: 4;
$fcl-card-border-radius: 8px;
$fcl-bg-color: rgba(255, 255, 255, 0.7);
$fcl-bg-color-entry: rgba(125, 138, 153, 0.5);
$fcl-accent-500: map-get($fcl-darkgrey, 500);
$fcl-accent-300: map-get($fcl-darkgrey, 300);
$fcl-accent-200: map-get($fcl-darkgrey, 200);
$fcl-accent-100: map-get($fcl-darkgrey, 100);

$fcl-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

@mixin em-errors {
    float: right;
    color: #fe0000;
    padding-left: 10px;
}

@mixin sidenav-elements {
    .sidenav-elements {
        padding: 8px 16px;
        display: flex;
        flex-direction: column;

        > * {
            margin: 8px 0;
        }

        > mat-select {
            width: 100%;
            margin-top: 20px;
        }

        > button {
            width: 100%;
        }

        > mat-radio-group > mat-radio-button:not(:last-child) {
            margin-right: 8px;
        }
    }
}

@mixin sidenav-elements-group {
    .sidenav-elements-group {
        display: flex;
        flex-direction: column;

        > mat-select {
            width: 100%;
        }

        padding-bottom: 1em;
    }
}
